@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/functions';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.cart_body_inner {
	.no_data {
		height: calc(var(--reVh, 1vh) - 262px);
		
		&.size_lg {
			.no_data_desc {
				+ .btn_wrap {
					margin-top: 16px;//SCR-BIZ06-02-M004.html
				}
			}
		}
	}
	
	> .title_wrap {
		&:first-child {
			margin-top: 20px;//SCR-BIZ06-05-M001.html 20px 로 사용됨 3/21 by han
		}
	}
	.contents_inner {
		> .title_wrap {
			&:first-child {
				margin-top: 20px;
			}
		}
		> .info_text {
			&:first-child {
				margin-top: 20px;
				
				+.prod_choice_wrap {
					margin-top: 20px;
				}
			}
		}
	}
}

// 결제 적립 배너
.point_banner_wrap {
	margin: 30px 0;
	
	.swiper-container {
		padding: 0 20px;
	}

	.swiper_control_box {

		.swiper-pagination-bullet {
			width: 6px;
			height: 6px;
			margin: 0 2px;
			background-color: variables.$colorGray02;
		}
		.swiper-pagination-bullet-active {
			background-color: variables.$textColorDarkGray;
		}
	}
}
.point_banner_box {
	@include mixins.justify_width(center, start);
	height: 82px;
	padding: 0 15px 0 24px;
	border: 1px solid variables.$colorGray04;
	border-radius: 10px;
	box-sizing: border-box;

	img {
		margin-left: auto;
	}
	
	.swiper-slide {
		width: auto;
	}

	&.bg_gray {
		background-color: #f4f4f4;
	}
	&.bg_indigo {
		color: #fff;
		background: #22406f;
	}

}
.point_banner_text {
	.title {
		font-weight: variables.$fontWeightBold;
	}
}


// 바로드림 유형 선택
.get_box_list {
	@include mixins.justify_width(center, center);
	flex-wrap: wrap;
	
	margin-left: -3px;
	margin-right: -3px;

	.get_box {
		position: relative;
		flex: 1;
		min-width: 33.3%;
		padding: 0 3px 0;
		box-sizing: border-box;
		
		&:nth-child(n+4) {
			margin-top: 10px;
		}
		
		&:nth-child(1){
			.bubble_speech_box {
				/*.bubble_speech_desc {
					position: absolute;
					white-space: nowrap;
					right: 0;
					bottom: 0;
				}*/
				.error_desc_box {
					left: 0;
					right: auto;
				}
			}
			
		}
		
		.get_box_inner {
			display: inline-block;
			@include mixins.justify_width(center, start, column);
			position: relative;
			flex: 1;
			width: 100%;
			height: 166px;
			border: 1px solid variables.$colorGray02;
			border-radius: 10px;
			cursor: pointer;
			box-sizing: border-box;
			@include mixins.transition(border-color .23s);
			
			.get_title {
				margin-top: 3px;
				@include mixins.font_size_sm;
				color: variables.$kyoboPurple;
				font-weight: variables.$fontWeightMedium;
			}
			.get_desc {
				margin-top: 4px;
				@include mixins.font_size_xxs;
				color: variables.$textColorGray;
				text-align: center;
			}
			
			&:hover,
			&:focus,
			&.active {
			
			}
		}//get_box_inner
		
		.btn_get_box {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;
			cursor: pointer;
		}
		
		.bubble_speech_box {
			bottom: 162px;
			max-width: calc(100% - 6px);
						
			&.right {
				right: 3px;
			}
			
			&:not(.type_error) {
				visibility: visible;
			}
			&.type_error {
				visibility: hidden;
			}
			
			.bubble_speech_desc {
				text-align: center;
				padding: {
					left: 9px;
					right: 9px;
				}
			}
			
			.error_desc_box {
				visibility: hidden;
				position: absolute;
				top: -26px;
				right: 0;
				display: inline-block;
				border-radius: 6px;
				border: solid 1px variables.$colorGray02;
				background-color: #fff;
				padding: 5px 9px;
				box-sizing: border-box;
				@include mixins.font_size_xxs;
				font-weight: variables.$fontWeightMedium;
				text-align: center;
				white-space: nowrap;
				box-shadow: 0 5px 10px rgba(variables.$textColorBlack, 0.1);
				z-index: 1;
			}
			
			&.active {
				.error_desc_box {
					visibility: visible;
				}
			}
		}
		
		&.paper_payment {
			.get_box_inner {
				align-items: center;
				justify-content: center;
				height: 50px;
				flex-direction: row;
				
				[class^=ico_svc] {
					margin-right: 5px;
				}
				.get_title {
					margin-top: 2px;
					color: variables.$textColorBlack;
					line-height: 1;
				}
			}
		}//paper_payment
		
		&.disabled {
			.btn_get_box {
				pointer-events: none;
				cursor: default;
			}
			
			.get_box_inner {
				opacity: .5;
			}
			
			.bubble_speech_box {
				&:not(.type_error) {
					visibility: hidden;
				}
				.type_error {
					visibility: visible;
					white-space: nowrap;
					
					.error_desc_box {
						//position: absolute;
						z-index: 1;
						margin-bottom: -10px;
					}
				}
			}
			
			
		}
		
		&.active {
			.get_box_inner {
				border-color: variables.$textColorBlack;
				
				.get_title {
					font-weight: variables.$fontWeightBold;
				}
			}
			
			
		}//active
		
	}

	& + .get_box_list {
		margin-top: 10px;
	}
	& + .bul_item_dot {
		margin-top: 16px;
	}
}

// 주문 가능 여부
.oder_info_list {
	margin: 30px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.order_info {
		position: relative;
		flex: 1;

		.title {
			margin-bottom: 13px;
			@include mixins.font_size_def;
			font-weight: variables.$fontWeightBold;
		}

		.list {
			li {
				position: relative;
				padding-left: 18px;

				& + li {
					margin-top: 8px;
				}

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 3px;
					width: 14px;
					height: 14px;
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}

		&:not(:first-child) {
			margin-top: 24px;
			padding-top: 24px;
			border-top: 1px dashed variables.$colorGray03;
		}

		&.order_impossible {
			.title {
				color: variables.$textColorRed;
			}

			.list li:before {
				@include mixins.ratio_images('../images/ico_imposibble_red_mok', 'png', 12px, 12px);
			}
		}

		&.order_possible {
			.title {
				color: variables.$textColorGreen;
			}

			.list li:before {
				@include mixins.ratio_images('../images/ico_posibble_green_mok', 'png', 14px, 14px);
			}
		}
	}
}

// 여러곳 배송 / 주소입력
.form_wrapper {
	.form_wrap {
		padding: 20px 0;
		border-top: 1px solid variables.$textColorBlack;
		border-bottom: 1px solid variables.$colorGray04;

		& ~ .form_wrap {
			border-top: 0;
		}

		.title {
			margin-bottom: 21px;
			@include mixins.font_size_def;
			font-weight: variables.$fontWeightBold;;
		}
	}

	.form_box {
		margin-top: 20px;

		& ~ .form_box {
			border-top: 0;
		}
	}
	.form_box.check {
		margin-top: 16px;
	}
}
.title_wrap {
	& + .multi_address_wrap  {
		height: 52px;

		.multi_address {
			padding-top: 0;
		}
	}
}
.multi_address_wrap {
	height: 32px;
	padding: 16px 0;
	background-color: #fff;

	&.sps-blw {
		.multi_address {
			position: fixed;
			left: 0;
			right: 0;
			top: 60px;
			z-index: 2;
			margin: 0;
			padding: 10px 20px 16px;
			background-color: #fff;
			border-bottom: 1px solid variables.$colorGray04;
		}
	}
}

// 보낼 상품 선택
.prod_choice_wrap {
	border : {
		top : 1px solid variables.$textColorBlack;
	}
	& ~ .prod_choice_wrap {
		margin-top: 31px;
	}
	.total_price_info {
		margin-top: 0;
		border-bottom: solid 1px #000;
		
		.info_item {
			display: inline-block;
		}
	}
	
}
.prod_choice_head {
	position: relative;
	padding: 20px 20px;
	background-color: variables.$colorGray06;

	.title {
		position: relative;
		padding-right: 16px;
		@include mixins.font_size_sm;
		font-weight: variables.$fontWeightBold;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 8px;
			width: 10px;
			height: 5px;
			@include mixins.ratio_images('../images/arw_fold_toggle_black_mok', 'png', 10px, 5px);
		}
	}

	&.active {
		.title {
			&:after {
				transform: rotate(-180deg);
			}
		}
		.info_text_list {
			display: block;
		}
	}

	.info_text_list {
		display: none;
		margin-top: 11px;
		line-height: 22px;
		color: variables.$textColorGray;
		.info_text {
			margin-top: 0;
		}
	}

	.btn_delete_ord {
		position: absolute;
		top: 20px;
		right: 10px;
		width: 21px;
		height: 21px;
		padding: 3px;
		background: {
			repeat: no-repeat;
			position: center center;
		}
		@include mixins.ratio_images('../images/btn_delete_ord_mok', 'png', 15px, 15px);
	}

}
.prod_choice_body {
	padding: 20px 0 20px;
	border-top: 1px solid variables.$colorGray04;
	
	.gift_prod_list_wrap {
		padding: 0;
		border: 0;
	}
	.btn_wrap {
		@include mixins.justify_width(center, center);
		margin-top: 20px;

		.btn_more_cont {
			flex: 0 1 auto;
		}
	}
	
}
.prod_choice_etc {
	margin-top: 21px;
}

// 통합 시작
// chk_col_list 툴팁 아이콘 정렬
.chk_col_item .btn_tooltip_sm {
	margin-left: 3px;
	transform: translateY(3px);
}

// 툴팁 봉투 이미지 정보
.tooltip_img {
	margin: 20px 0;

	&:first-child {
		margin-top: 0;
	}	
	&:last-child {
		margin-bottom: 0;
	}
}



// 배송지 수 선택
.address_number_set {
	th, td {
		text-align: left
	}
	.form_sel {
		width: 120px;
		margin-right: 6px;
		vertical-align: middle;

		select {
			height: 44px;
		}

		.ui-selectmenu-button {
			width: 100%;
		}
	}
}


// 바로드림, 직접, 픽업, 오늘배송 아이콘
.ico_plus_white {
	width: 18px;
	height: 18px;
	background: {
		repeat: no-repeat;
		position: center center;
	}
	@include mixins.ratio_images('../images/ico_plus_h18_mok', 'png', 18px, 18px);
}

[class^=ico_svc_] {
	display: inline-block;
}
.ico_svc_pickup_zone,
.ico_svc_pickup_box,
.ico_svc_directly {
	width: 78px;
	height: 82px;
}
.ico_svc_pickup_zone {
	@include mixins.ratio_images('../images/ico_svc_pickup_zone_mok', 'png', 78px, 82px);
}
.ico_svc_directly {
	@include mixins.ratio_images('../images/ico_svc_directly_mok', 'png', 78px, 82px);
}
.ico_svc_pickup_box {
	@include mixins.ratio_images('../images/ico_svc_pickup_box_mok', 'png', 78px, 82px);
}
.ico_svc_deli_today {
	//@include mixins.ratio_images('../images/ico_svc_deli_today_mok', 'png', 46px, 46px); 아이콘 삭제필요 220325 by han
}
.ico_svc_pabag_payment {
	width: 24px;
	height: 24px;
	@include mixins.ratio_images('../images/ico_svc_pabag_payment_mok', 'png', 24px, 24px);
}
// 통합 종료

