@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/functions';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

// 찜하기 버튼은 기존 14px하트 이미지 사용 확인필요합니다.
.btn_wish_circle {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: {
		position: center;
		repeat: no-repeat;
	}
	border-radius: 100%;
	border: 1px solid variables.$colorGray02;
	@include mixins.ratio_images('../images/ico_heart_h14_mok', 'png', 14px, 14px);
	vertical-align: top;
	@include mixins.transition(background 0.2s ease-out);

	&.active {
		@include mixins.ratio_images('../images/ico_heart_h14_active_mok', 'png', 14px, 14px);
	}
}
// 좋아요는 active이미지 없음
.btn_like_circle {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: {
		position: center;
		repeat: no-repeat;
	}
	border-radius: 100%;
	border: 1px solid variables.$colorGray02;
	@include mixins.ratio_images('../images/ico_like_black_mok', 'png', 14px, 14px);
	vertical-align: top;

	&.active {
		@include mixins.ratio_images('../images/ico_like_black_active_mok', 'png', 14px, 14px);
	}
}

/* 구독 on/off 버튼 */
// 기존 pc버전 구독 버튼 기준으로 작업함
a.btn_subscribe, button.btn_subscribe {
	border: 1px solid variables.$colorGray02;

	&.active {
		color: #fff;
		border-color: variables.$kyoboGreen;
		background: variables.$kyoboGreen;
	}

	&.btn_xs {
		.ico_subscribe {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: {
				//top: 4px;
				//right: 4px;
			}
			background: {
				position: center;
				repeat: no-repeat;
			}
			font-size: 0;
			@include mixins.ratio_images('../images/ico_subscribe_xs_mok', 'png', 12px, 12px);
		}

		.text {
			font-weight: variables.$fontWeightRegular;
		}

		&.active {
			.ico_subscribe {
				@include mixins.ratio_images('../images/ico_subscribe_check_xs_w_mok', 'png', 12px, 12px);
			}
		}
	}

}

// flag book cast grade
.bookcast_grade {
	@include mixins.justify_width(center, start, row, true);
	padding: 4px 9px;
	@include mixins.font_size_xxs();
	color: #fff;
	border-radius: 12px;

	&:before {
		display: block;
		content: "";
		margin: 0 3px 0 0;
		background: {
			repeat: no-repeat;
			position: center;
		}
	}

	&.popular {
		background: {
			color: #50b19e;
		}

		&:before {
			width: 12px;
			height: 12px;
			@include mixins.ratio_images('../images/ico_grade_popular_mok', 'png', 12px, 12px);
		}
	}

	&.partner {
		background: {
			color: #5055b1;
		}

		&:before {
			width: 10px;
			height: 12px;
			@include mixins.ratio_images('../images/ico_grade_partner_mok', 'png', 10px, 12px);
		}
	}
}

// 북캐스트 상세
.bookcast_detail_wrap {
	// overflow: hidden;
	padding: 0 20px;

	.title_wrap {
		padding: {
			left: 0;
			right: 0;
		}
	}

	.bookcast_detail_header {
		position: relative;
		@include mixins.font_size_sm();

		.bookcast_detail_cate {
			display: inline-block;
			font-weight: variables.$fontWeightBold;
			color: variables.$textColorPurple;
		}

		.bookcast_detail_title_case {
			margin: 6px 0 0;

			.name {
				@include mixins.font_size_xxl();
				font-weight: variables.$fontWeightBold;
			}

			&:first-child {
				margin: 0;
			}
		}

		.bookcast_detail_header_utile {
			@include mixins.justify_width(center, between);
			margin: 15px 0 0;

			.bookcast_detail_info_case {
				span {
					position: relative;
					margin: 0 0 0 3px;
					padding: 0 0 0 7px;
					@include mixins.font_size_sm;
					vertical-align: top;

					&:after {
						display: block;
						content: "";
						position: absolute;
						left: 0;
						top: 10px;
						width: 2px;
						height: 2px;
						border-radius: 100%;
						background-color: #595959;
					}

					&:first-child {
						margin: 0;
						padding: 0;

						&:after {
							display: none;
						}
					}
				}

				.gap {
					display: none;
				}

				.date {
					display: inline-block;
					color: variables.$textColorLightGray;
				}

				.view {
					@include mixins.justify_width(start, start, row, true);
					align-items: center;
					color: variables.$textColorLightGray;

					&:before {
						display: block;
						flex-shrink: 0;
						content: "";
						width: 14px;
						height: 10px;
						margin: 0 2px 0 0;
						background: {
							repeat: no-repeat;
							position: center;
						}
						@include mixins.ratio_images('../images/ico_item_view_mok', 'png', 14px, 10px);
					}
				}
			}

			.bookcast_detail_utile_case {
				.sns_share_wrap {
					display: inline-block;
				}
				& > a, .sns_share_wrap {
					margin: 0 6px 0 0;

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	.bookcast_detail_container {
		margin: 30px 0 0;
	}

	// 상세 동영상
	.bookcast_detail_video_wrap {
		padding: 0 0 30px;
		border-bottom: 1px solid variables.$colorGray04;

		.video_player {
			overflow: hidden;
			width: 100%;
			height: 50.13vw;
			border-radius: 20px;
		}

		.video_explain {
			margin: 30px 0 0;
			@include mixins.font_size_xs();

			.video_explain_text {
				&.ellipsis {
					@include mixins.multi_ellipsis(variables.$fontSizeXsLineHeight, 4, false);
				}
			}

			.btn_more_body {
				margin: 12px 0 0;
			}
		}
	}

	// 상세 포스터
	.bookcast_detail_poster_wrap {
		.poster {
			display: block;
			margin: 20px 0 0;
			text-align: center;

			img {
				max-width: 100%;
			}

			&:first-child {
				margin: 0;
			}
		}
	}

	// 시리즈 박스
	.bookcast_detail_series_box {
		margin: 40px 0 0;
		.series_list {
			box-sizing: border-box;
			padding: 0 20px;

			> ul {
				@include mixins.justify_width();
				> li {
					position: relative;
					box-sizing: border-box;
					padding-right: 16px;
					scroll-snap-align: start;

					.prod_area {
						width: 134px;

						.prod_thumb_box {
							width: auto;
						}
					}

					&:last-child {
						padding-right: 20px;
					}

					&:after {
						content: '전시 템플릿 정의 후 작업';
						position: absolute;
						display: inline-block;
						color: #fff;
						bottom: 0;
						right: 16px;
						left: 0;
						top: 0;
						@include mixins.font_size_sm;
						background-color: rgba(255, 0, 0, .5);
						pointer-events: none;
						z-index: 2;
					}
				}
			}
		}
	}

	// 키워드 박스
	.bookcast_detail_keyword_box {
		margin: 40px 0 0;

		.keyword_items {
			margin: -6px 0 0;

			.keyword_item {
				display: inline-block;
				padding: 8px 16px 9px;
				margin: 6px 2px 0 0;
				@include mixins.font_size_xs();
				color: variables.$textColorGray;
				border-radius: 18px;
				background-color: variables.$colorGray06;
			}
		}

		.no_data {
			padding: 150px 0;
		}
	}

	// 북캐스트 정보 박스
	.bookcast_detail_author_box {
		@include mixins.justify_width(center);
		position: relative;
		margin: 30px 0 0;
		padding: 16px 90px 16px 16px;
		border-radius: 16px;
		background-color: variables.$colorGray06;

		.bookcast_photo {
			flex-shrink: 0;
			overflow: hidden;
			width: 54px;
			height: 54px;
			margin-right: 8px;
			border-radius: 100%;
			vertical-align: middle;

			img {
				width: 100%;
			}
		}
		.bookcast_author {

			.bookcast_name {
				display: block;
				margin-bottom: 6px;
				@include mixins.font_size_md;
			}
		}

		.btn_subscribe {
			position: absolute;
			top: 50%;
			right: 16px;
			margin: -18px 0 0;
		}
	}

	// 북캐스트 관련상품
	.bookcast_detail_related_wrap {
		margin: 40px 0 0;

		.related_prod_list_wrap {
			box-sizing: border-box;
			padding: 0 20px;

			> ul {
				@include mixins.justify_width();
				> li {
					position: relative;
					box-sizing: border-box;
					padding-right: 16px;
					scroll-snap-align: start;

					.prod_area {
						width: 110px;
						.prod_thumb_box {
							width: auto;
						}
					}

					&:last-child {
						padding-right: 20px;
					}

					&:after {
						content: '전시 템플릿 정의 후 작업';
						position: absolute;
						display: inline-block;
						color: #fff;
						bottom: 0;
						right: 16px;
						left: 0;
						top: 0;
						@include mixins.font_size_sm;
						background-color: rgba(255, 0, 0, .5);
						pointer-events: none;
						z-index: 2;
					}
				}
			}
		}

		.related_content_list_wrap {
			box-sizing: border-box;
			padding: 0 20px;
			> ul {
				@include mixins.justify_width();
				> li {
					position: relative;
					box-sizing: border-box;
					padding-right: 30px;
					scroll-snap-align: start;
					.prod_area {
						width: 292px;
					}

					&:last-child {
						padding-right: 20px;
					}

					&:after {
						content: '전시 템플릿 정의 후 작업';
						position: absolute;
						display: inline-block;
						color: #fff;
						bottom: 0;
						right: 30px;
						left: 0;
						top: 0;
						@include mixins.font_size_sm;
						background-color: rgba(255, 0, 0, .5);
						pointer-events: none;
						z-index: 2;
					}
				}
			}
		}
	}

	// 북캐스트 배너
	.bookcast_detail_banner_wrap {
		margin: 40px 0 0;

		.swiper-container {
			.swiper-wrapper {
				.swiper-slide {
					a {
						display: block;
						overflow: hidden;
						border-radius: 16px;

						img {
							width: 100%;
						}
					}
				}
			}

			.swiper-pagination {
				&.swiper-pagination-fraction {
					left: auto;
					bottom: 10px;
					right: 10px;
					background-color: rgba(0, 0, 0, .4);
					transform: translateX(0);
				}
			}
		}
	}

	// 북캐스트 리뷰 박스
	.bookcast_detail_review_wrap {
		margin: 40px 0 0;

		.comment_wrap {
			margin: 24px 0 0;
			border-top: 1px solid variables.$colorGray04;
		}
	}
}

// EDIT 상세
.edit_view_wrap {
	padding: 0 20px;

	.title_wrap {
		padding: {
			left: 0;
			right: 0;
		}
	}

	.edit_header_box {
		position: relative;
		@include mixins.font_size_sm();

		.flag_cate {
			display: inline-block;
			font-weight: variables.$fontWeightBold;
			color: variables.$textColorLightGray;
		}

		.edit_title_case {
			margin: 6px 0 0;

			.name {
				@include mixins.font_size_xxl();
				font-weight: variables.$fontWeightBold;
			}

			&:first-child {
				margin: 0;
			}
		}

		.edit_header_utile {
			@include mixins.justify_width(center, between);
			margin: 15px 0 0;

			.edit_info_case {
				span {
					position: relative;
					margin: 0 0 0 3px;
					padding: 0 0 0 7px;
					@include mixins.font_size_sm;
					vertical-align: top;

					&:after {
						display: block;
						content: "";
						position: absolute;
						left: 0;
						top: 50%;
						width: 1px;
						height: 10px;
						margin: -6px 0 0;
						background-color: variables.$colorGray03;
					}

					&:first-child {
						margin: 0;
						padding: 0;

						&:after {
							display: none;
						}
					}
				}

				.gap {
					display: none;
				}

				.date {
					display: inline-block;
					color: variables.$textColorLightGray;
				}

				.flag_state {
					&.ing {
						color: variables.$textColorGreen;
					}
					&.end {
						color: variables.$textColorLightGray;
					}
				}
			}

			.edit_utile_case {
				.sns_share_wrap {
					display: inline-block;
				}
				& > a, .sns_share_wrap {
					margin: 0 6px 0 0;

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	.edit_container_box {
		margin: 30px 0 0;

		.edit_content_box {
			padding: 17px 0;
			border-top: 1px solid variables.$colorGray04;
			border-bottom: 1px solid variables.$colorGray04;
		}

		.event_content_box {
			text-align: center;
			img {
				max-width: 100%;
			}
		}
	}

	.edit_write_case {
		@include mixins.font_size_sm;
		color: #000;
	}

	// 당첨자 발표
	.prize_list_box {
		margin: 30px 0 0;
		border-top: 1px solid #000;
		// border-bottom: 1px solid variables.$colorGray04;

		ul {
			@include mixins.justify_width();
			flex-wrap: wrap;

			li {
				@include mixins.justify_width();
				box-sizing: border-box;
				width: 50%;
				padding: 20px 12px;
				@include mixins.font_size_xs();

				.user_name {
					width: 55px;
					font-weight: variables.$fontWeightMedium;
				}

				.user_id {
					color: variables.$textColorLightGray;
				}
			}
		}

		&:first-child {
			margin: 0;
		}
	}

	// 북캐스트 정보 박스
	.edit_bookcast_author_box {
		@include mixins.justify_width(center);
		position: relative;
		margin: 30px 0 0;
		padding: 16px 90px 16px 16px;
		border-radius: 16px;
		background-color: variables.$colorGray06;

		.bookcast_photo {
			flex-shrink: 0;
			overflow: hidden;
			width: 54px;
			height: 54px;
			margin-right: 8px;
			border-radius: 100%;
			vertical-align: middle;

			img {
				width: 100%;
			}
		}
		.bookcast_author {

			.bookcast_name {
				display: block;
				margin-bottom: 6px;
				@include mixins.font_size_md;
			}
		}

		.btn_subscribe {
			position: absolute;
			top: 50%;
			right: 16px;
			margin: -18px 0 0;
		}
	}

	// 북캐스트 리뷰 박스
	.event_review_wrap {
		margin: 40px 0 0;

		.comment_wrap {
			margin: 24px 0 0;
			border-top: 1px solid variables.$colorGray04;
		}
	}
}

// 게시판 리스트 당첨자 발표
.board_list_box {
	padding: 0 20px;
	> ul {
		border-top: 1px solid #000;
		> li {
			padding: 20px 0;
			border-bottom: 1px solid variables.$colorGray04;
		}
	}

	.board_list_item {
		.board_title {
			display: block;
			@include mixins.font_size_sm;
			font-weight: variables.$fontWeightMedium;
		}

		.board_info {
			margin-top: 12px;

			.date {
				display: inline-block;
				@include mixins.font_size_xs;
				color: variables.$textColorLightGray;
				vertical-align: middle;
			}
			.gap {
				display: inline-block;
				margin: 0 1px;
				font-size: 9px;
				vertical-align: middle;
			}
			.cast_name {
				display: inline-block;
				@include mixins.font_size_xs;
				color: variables.$textColorGray;
				vertical-align: middle;
			}

		}

		.board_subscribe_info {
			margin-top: 10px;

			.number {
				display: inline-block;
				margin-right: 10px;
				@include mixins.font_size_xs;
				color: variables.$textColorGray;
				vertical-align: middle;
			}
			.btn_subscribe {
				vertical-align: middle;
			}
		}
	}

	.no_data {
		padding: 110px 15px 60px
	}
}

// 서브 메인에 해당하는 화면 헤더영역
// 박민창 책임이 작업한 소스를 bookcast_pmc에서 bookcast_shh로 옮긴 후 추가 작업함
.book_cast_header {
	margin-bottom: 40px;

	.visual {
		position: relative;
		min-height: 274px;
		max-height: calc(35vh); //임시
		margin-right: 20px;
		margin-top: 10px;
		border-top-right-radius: 16px;
		border-bottom-right-radius: 16px;
		overflow: hidden;
		text-align: right;
		z-index: 1;

		.bg_visual {
			display: inline-block;
			min-width: 100%;
			min-height: 274px;
		}

		.text_box {
			position: absolute;
			color: #fff;
			text-align: left;
			right: 24px;
			left: 24px;
			top: 50px;

			.visual_title {
				@include mixins.font_size_xl;
				@include mixins.multi_ellipsis(variables.$fontSizeXlLineHeight, 2, false);
				font-weight: variables.$fontWeightBold;
			}

			.visual_desc {
				margin-top: 12px;
				@include mixins.font_size_xs;

				br {
					display: none;

					@include mixins.respond-to(mobileLandscape){
						display: block;
					}
				}
			}

			.btn_subscribe, .series_end {
				margin-top: 20px;
			}

			// 연재완료된 시리즈 입니다.
			.series_end {
				display: inline-block;
				color: rgba(255, 255, 255, .7);
				border: 1px solid rgba(255, 255, 255, .5);
				border-radius: 18px;
				font-size: variables.$fontSizeXs;
				line-height: 36px;
				padding: 0 14px;

				.ico_subscribe {
					display: inline-block;
					width: 12px;
					height: 12px;
					margin: {
						right: 4px;
						bottom: 2px;
					}
					background: {
						position: center;
						repeat: no-repeat;
					}
					font-size: 0;
					vertical-align: middle;
					@include mixins.ratio_images('../images/ico_subscribe_check_xs_w_mok', 'png', 12px, 12px);
					opacity: .7;
				}
			}

		}
	}

	.caster_profile_wrap {
		position: relative;
		padding: 80px 20px 0;
		background: {
			repeat: no-repeat;
			size: auto 230px;
			position: center top;
		}

		.caster_profile_background {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 230px;
			background: {
				repeat: no-repeat;
				size: cover;
				position: center;
			}
		}

		.caster_profile_inner {
			position: relative;
			z-index: 2;
			padding: 24px;
			color: #fff;
			border-radius: 16px;
			background-color: rgba(0, 0, 0, .6);
			backdrop-filter: blur(40px);
		}

		.caster_img {
			overflow: hidden;
			width: 70px;
			height: 70px;
			border-radius: 100%;

			img {
				width: 100%;
			}
		}

		.caster_name_area {
			margin-top: 12px;
			.caster_name {
				display: inline-block;
				@include mixins.font_size_xl;
				font-weight: variables.$fontWeightBold;
				vertical-align: middle;
			}

			// 인기 파트너 뱃지 가이드화 작업 필요
			.btn_min {
				height: 20px;
				margin: 0 0 0 8px;
				.text {
					color: #fff;
				}
				vertical-align: middle;
			}
			.badge_emerald {
				background: {
					color: #50b19e;
				}
			}
			.badge_purple {
				background: {
					color: variables.$kyoboPurple;
				}
			}
			.ico_caster_badge_popular {
				width: 11px;
				height: 11px;
				@include mixins.ratio_images('../images/ico_grade_popular_mok', 'png', 11px, 11px);
			}
			.ico_caster_badge_parter {
				width: 9px;
				height: 11px;
				@include mixins.ratio_images('../images/ico_grade_partner_mok', 'png', 9px, 11px);
			}
		}

		.caster_simple_info {
			@include mixins.clearfix;
			margin-top: 4px;

			dl.caster_info_cnt {
				float: left;

				dt {
					display: inline-block;
					@include mixins.font_size_xs;
				}

				dd {
					display: inline-block;
					@include mixins.font_size_xs;
					font-weight: variables.$fontWeightMedium;
				}
			}

			.gap {
				float: left;
				display: block;
				width: 1px;
				height: 10px;
				overflow: hidden;
				margin: 5px 10px 0;
				background-color: rgba(255, 255, 255, 0.5);
				font-size: 0;
				text-indent: -9999px;
			}
		}

		.caster_introduce {
			margin-top: 15px;
			@include mixins.font_size_sm;
			.caster_introduce_inner {
				&.ellipsis {
					@include mixins.multi_ellipsis(variables.$fontSizeSmLineHeight, 4, false);
				}
			}

			.btn_more_body {
				margin-top: 12px;
				.text {
					color: #fff;
				}
			}
		}

		.btn_subscribe {
			position: absolute;
			right: 24px;
			top: 24px;
			.ico_subscribe {
				@include mixins.ratio_images('../images/ico_subscribe_white_xs_mok', 'png', 12px, 12px);
			}

		}
	}
}

// 상단 추천글 슬라이드 영역
.book_cast_recommemd_write {
	margin-bottom: 40px;
	padding: 0 20px;
	.swiper-container {
		border-radius: 10px;
		background-color: variables.$colorGray06;
		.swiper-wrapper {
			.swiper-slide {
				a {
					display: block;
					box-sizing: border-box;
					height: 100%;
					padding: 18px;
				}
			}
		}
	}
}

// K-CLASS
.fold_box_wrap {
	&.k_class {
		padding: 0 20px;
		.fold_box {
			border: 1px solid variables.$colorGray03;
			background-color: #fff;
			.fold_box_header {
				padding: 15px 20px;
				@include mixins.font_size_sm;
				font-weight: variables.$fontWeightMedium;

				.cast_info_area {
					margin-top: 4px;
					@include mixins.font_size_xs;
					font-weight: variables.$fontWeightRegular;
					.cate_name {
						display: inline-block;
						color: variables.$textColorGray;
						vertical-align: middle;
					}
					.cast_date {
						display: inline-block;
						color: variables.$textColorLightGray;
						vertical-align: middle;
					}
					.gap {
						display: inline-block;
						width: 1px;
						height: 10px;
						overflow: hidden;
						margin: 0 5px;
						background-color: variables.$colorGray03;
						font-size: 0;
						text-indent: -9999px;
						vertical-align: middle;
					}
				}
			}
			.fold_box_contents {
				padding: 0;
				.scroll_horizontal_wrap {
					margin: 0;
					padding: 10px 20px 18px;

					> ul {
						@include mixins.justify_width();
						> li {
							position: relative;
							box-sizing: border-box;
							padding-right: 20px;
							scroll-snap-align: start;
							.prod_area {
								&.type_bookcast {
									&.horizontal {
										width: 276px;

										.prod_thumb_box {
											width: 124px;
										}
									}
								}
							}
						}
					}
				}
			}
			&.expanded {
				border: 1px solid #000;
			}
		}
	}
}

// bookcast 리스트 검색 옵션 박스
.list_search_wrap {
	padding: 0 20px;

	+ .list_result_wrap {
		margin-top: 6px;
	}
}

// 알약모양 버튼타입 체크박스
.form_chk {
	&.type_pill {
		input {
			+ label {
				// btn_xs 기준으로 작업됨
				@include mixins.justify_width(center, center, row, true);
				height: 36px;
				padding: 0 13px 1px;
				border-radius: 36px;
				background-color: variables.$colorGray06;
				border: 1px solid variables.$colorGray06;
				@include mixins.font_size_xs;
				font-family: variables.$fontKor;
				@include mixins.transition(background-color 0.2s ease-out, border-color 0.2s ease-out);
				text-align: center;
				color: variables.$textColorGray;

				&:before,
				&:after {
					display: none;
				}
			}

			&:checked {
				+ label {
					background-color: variables.$kyoboPurple;
					border-color: variables.$kyoboPurple;
					color: #fff;
				}
			}
		}
	}
}

.chk_row_list {
	&.list_type_pill {
		margin-top: -8px;

		.chk_row_item {
			margin: 8px 6px 0 0;
		}
	}
}


// 상단 리스트 결과 정보 박스
.list_result_wrap {
	position: relative;
	@include mixins.justify_width(center);
	margin-bottom: 24px;
	padding-left: 20px;
	padding-right: 20px;

	.result_count {
		display: inline-block;
		@include mixins.font_size_md;
		font-weight: variables.$fontWeightBold;

		/*
		&.size_xs {
			@include mixins.font_size_xs();
		}
		*/
	}

	.right_area {
		margin-left: auto;
		flex-shrink: 0;
		@include mixins.justify_width(center, start, row);

		> [class^='btn_']{
			+ [class^='btn_'], + .switch_list_btn_wrap{
				margin-left: 4px;
			}

			+ .form_sel{
				margin-left: 10px;
			}
		}

		.form_sel{
			+ [class^='btn_'], + .switch_list_btn_wrap{
				margin-left: 4px;
			}

			// 셀렉트박스 보더 없애기
			> select {
				height: 22px;
				padding-left: 0;
				padding-right: 18px;
				border: none;
				background-position: calc(100% - 4px) center;
				@include mixins.font_size_xs;
			}
		}

		.form_chk{
			+ .form_chk {
				margin-left: 10px;
			}
			+ .form_sel {
				margin-left: 20px;
			}
			//체크박스 스타일 수정
			input {
				& + label {
					padding-left: 14px;
					white-space: nowrap;
					vertical-align: -3px;
					@include mixins.font_size_xs;
					color: variables.$textColorLightGray;

					&:before {
						display: none;
					}
					&:after {
						top: 5px;
						width: 10px;
						height: 7px;
						border-radius: 0;
						border: none;
						background: {
							position: center;
							repeat: no-repeat;
						}
					}
				}

				&:checked {
					& + label {
						color: variables.$kyoboPurple;
						&:after {
							background: {
								color: transparent;
								position: center;
								repeat: no-repeat;
							}
							@include mixins.ratio_images('../../common/images/ico_checkbox_purple_mok', 'png', 10px, 7px);
							border: none;
						}
					}
				}
			}
		}

		.form_chk,
		.form_sel {
			& + .btn_filter {
				margin-left: 20px;
			}
		}
	}

}

.contents_inner {
	.list_result_wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

// 버튼 - 필터
a.btn_filter, button.btn_filter {
	@include mixins.justify_width(center, start, row, true);
	@include mixins.font_size_xs();
	font-weight: variables.$fontWeightRegular;
	color: variables.$textColorBlack;

	.text {
		white-space: nowrap;
	}

	&:after {
		display: block;
		content: '';
		width: 14px;
		height: 14px;
		margin-left: 3px;
		background: {
			repeat: no-repeat;
			position: center;
		}
		@include mixins.ratio_images('../images/ico_filter_mok', 'png', 14px, 14px);
	}

	&.active {
		color: variables.$textColorPurple;

		&:after {
			@include mixins.ratio_images('../images/ico_filter_active_mok', 'png', 14px, 14px);
		}
	}
}

// 필터 초기화 아이콘
.btn_md {
	.ico_refresh_filter {
		width: 15px;
		height: 15px;
		@include mixins.ratio_images('../images/ico_refresh_filter_mok', 'png', 15px, 15px);
		background: {
			position: center;
			repeat: no-repeat;
		}
	}
}

// TODO : btn_wish가 css 틀어져서 조정. 공통 확인 필요
.book_cast_wrap {
	.title_wrap {
		// 페이지 타이틀 바로 아래 버튼
		&.has_bottom_btn {
			display: block;
			.title_heading {
				display: block;
				width: 100%;
			}
			.btn_wish {
				width: auto;
				margin-top: 5px;
				color: variables.$textColorBlack;
				.ico_wish {
					margin-top: 0;
				}
			}
		}
	}
}