@charset "UTF-8";
.wrapper.welcome .footer_wrapper .welcome_notice_wrap {
	margin-bottom: 24px;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_list_wrap {
	height: 23px;
	margin-bottom: 13px;
	border-bottom: none;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_list_wrap .tabs {
	padding: 0;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_list_wrap .tab_item {
	padding: 0;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_list_wrap .tab_item + .tab_item {
	margin-left: 12px;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_list_wrap .tab_item.ui-tabs-active .tab_link .tab_text {
	color: #000;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_list_wrap .tab_link .tab_text {
	color: rgba(0, 0, 0, 0.2);
	font-weight: 700;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_list_wrap .tab_link:after {
	content: none;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_content {
	border: 1px solid #eaeaea;
	border-radius: 16px;
	padding: 24px;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_content .notice_title {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	font-weight: 500;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	height: 44px;
	max-height: 44px;
	line-height: 22px;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: -o-ellipsis-lastline;
	white-space: normal;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_content .notice_title .ico_new {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 4px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../../mok/welcome/images/ico_notice_new_mok@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
	vertical-align: top;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_content .notice_text {
	color: #595959;
	margin-top: 12px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	height: 36px;
	max-height: 36px;
	line-height: 18px;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: -o-ellipsis-lastline;
	white-space: normal;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .tab_content .regist_date {
	color: #767676;
	margin-top: 18px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
}
.wrapper.welcome .footer_wrapper .welcome_notice_wrap .tab_wrap .btn_more_plus_text {
	font-size: 0;
}
.wrapper.welcome .book_info_box .badge_kyobo, .wrapper.welcome .prod_info_box .badge_kyobo {
	color: #383FBE;
	border: 1px solid #EAEBF9;
	background: #EAEBF9;
}
.wrapper.welcome .book_info_box .badge_ebook, .wrapper.welcome .prod_info_box .badge_ebook {
	color: #3471c1;
	border: 1px solid #eaf0f9;
	background: #eaf0f9;
}
.wrapper.welcome .book_info_box .badge_sam, .wrapper.welcome .prod_info_box .badge_sam {
	color: #2badb1;
	background: #e9f7f7;
	border: 1px solid #e9f7f7;
}
.wrapper.welcome .book_info_box .badge_hottracks, .wrapper.welcome .prod_info_box .badge_hottracks {
	color: #d85954;
	border: 1px solid #fbeeed;
	background: #fbeeed;
}
.wrapper.welcome .book_info_box .badge_sm + .prod_info, .wrapper.welcome .prod_info_box .badge_sm + .prod_info {
	margin-top: 8px;
}
.wrapper.welcome .prod_info_box .badge_sm + .badge_sm {
	margin-left: 4px;
}
.wrapper.welcome .prod_info_box .prod_used_price {
	margin-top: 12px;
}
.wrapper.welcome .prod_info_box .prod_used_price .used_grade {
	display: inline-block;
	color: #767676;
	margin-right: 4px;
	padding: 0 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
}
.wrapper.welcome .prod_info_box .prod_used_price .used_grade.highest {
	color: #5055b1;
	border-color: #5055b1;
}
.wrapper.welcome .prod_info_box .prod_used_price .used_grade.high {
	color: #4dac27;
	border-color: #4dac27;
}
.wrapper.welcome .prod_info_box .prod_used_price .price {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
}
.wrapper.welcome .prod_info_box .prod_used_price .price .val {
	font-weight: 700;
}
.wrapper.welcome .prod_info_box .prod_used_price .used_discount {
	margin-top: 16px;
	padding-top: 11px;
	padding-left: 14px;
	border-top: 1px solid #eaeaea;
	background-position: left top 17px;
	background-repeat: no-repeat;
	background-size: 10px 7px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../images/ico_checkbox_active_02_mok@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
}
.wrapper.welcome .related_book_wrap .banner_list {
	padding-bottom: 24px;
}
.wrapper.welcome .related_book_wrap .banner_list .banner_item.swiper-slide-active .banner_img_box, .wrapper.welcome .related_book_wrap .banner_list .banner_item.swiper-slide-duplicate-active .banner_img_box {
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
}
.wrapper.welcome .related_book_wrap .book_info_swiper_wrap {
	margin-top: 0;
	pdding-top: 0;
}
.wrapper.welcome .related_book_wrap .book_info_swiper_wrap:after {
	background: linear-gradient(#f2f2f2, #fff);
}
.wrapper.welcome .prod_list + .btn_wrap {
	margin-top: 30px;
}
.wrapper.welcome .hit_wrap .related_book_wrap .banner_list .banner_item {
	width: 200px;
	height: 200px;
}
.wrapper.welcome .hit_wrap .related_book_wrap .banner_list .banner_item .banner_img_box {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
.wrapper.welcome .live_tag_wrap {
	margin-bottom: 24px;
}
.wrapper.welcome .culture_wrap .related_book_wrap .book_info_box .prod_author {
	margin-top: 5px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
}
.wrapper.welcome .culture_wrap .related_book_wrap .book_info_box .prod_price {
	margin-top: 12px;
}
.wrapper.welcome .culture_wrap .related_book_wrap .book_info_box .prod_price .percent, .wrapper.welcome .culture_wrap .related_book_wrap .book_info_box .prod_price .price .val, .wrapper.welcome .culture_wrap .related_book_wrap .book_info_box .prod_price .price .unit {
	font-size: 14px;
	line-height: 19px;
}
.wrapper.welcome .event_swiper_wrap:not(.fluid_swiper_wrap) .swiper-container .swiper-slide {
	width: 202px;
	margin-right: 16px;
}
.wrapper.welcome .event_swiper_wrap:not(.fluid_swiper_wrap) .swiper-container .swiper-slide .event_area {
	width: 202px;
}
.wrapper.welcome .event_swiper_wrap:not(.fluid_swiper_wrap) .swiper-container .swiper-slide img {
	width: 100%;
}
.wrapper.welcome .video_swiper {
	padding: 0 20px;
}
.wrapper.welcome .video_swiper .video_list .video_item {
	width: calc(100% - 51px);
	max-width: 284px;
	margin: 0 16px 0 0;
}
.wrapper.welcome .video_swiper .video_list .video_item .prod_area .prod_thumb_box {
	width: 100%;
	max-width: none;
}
.wrapper.welcome .video_swiper .video_list .video_item:last-child {
	margin-right: 0;
}
.wrapper.welcome .showcase_blurb_wrap .showcase_blurb_box {
	text-align: center;
}
.wrapper.welcome .showcase_blurb_wrap .showcase_blurb_box img {
	width: 100%;
	max-width: 335px;
}
.wrapper.welcome .paging_swiper {
	max-width: 335px;
	border-radius: 16px;
}
.wrapper.welcome .paging_swiper .swiper-slide img {
	max-width: 100%;
}
.wrapper.welcome .paging_swiper + .event_swiper_wrap {
	margin-top: 16px;
}

.welcome_banner_wrap {
	margin-left: 20px;
}
.welcome_banner_wrap .banner_group {
	display: inline-block;
	color: #fff;
	padding: 4px 8px;
	background: #000;
	border-radius: 4px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.welcome_banner_wrap .banner_group.live {
	background: #ff393b;
	font-weight: 700;
}
.welcome_banner_wrap .banner_group.live:before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-top: 6px;
	margin-right: 6px;
	border-radius: 50%;
	background: #fff;
	vertical-align: top;
}
.welcome_banner_wrap .banner_visual_box {
	border-radius: 20px 0 0 20px;
	overflow: hidden;
}
.welcome_banner_wrap .banner_visual_box .img_box img {
	width: 100%;
}
.welcome_banner_wrap .banner_info {
	position: relative;
	margin-left: 16px;
	top: -13px;
}
.welcome_banner_wrap .banner_info .banner_title {
	margin-top: 10px;
	font-size: 22px;
	line-height: 34px;
	letter-spacing: -0.01em;
	font-weight: 700;
}
.welcome_banner_wrap .welcome_banner_control_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin: 4px 20px 30px 16px;
}
.welcome_banner_wrap .welcome_banner_control_area .banner_control_box {
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	display: -webkit-inline-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.welcome_banner_wrap .welcome_banner_control_area .banner_control_box .swiper-pagination-fraction {
	position: relative;
	color: #767676;
	min-width: auto;
	height: auto;
	background: transparent;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	transform: none;
	left: auto;
	bottom: auto;
	font-size: 0;
}
.welcome_banner_wrap .welcome_banner_control_area .banner_control_box .swiper-pagination-fraction .swiper-pagination-current {
	color: #000;
	font-weight: 700;
}
.welcome_banner_wrap .welcome_banner_control_area .banner_control_box .btn_swiper_pause {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 24px 48px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../images/arw_swiper_pause_resume_mok@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
}
.welcome_banner_wrap .welcome_banner_control_area .banner_control_box .btn_swiper_pause.paused {
	background-position-y: -24px;
}
.welcome_banner_wrap .welcome_banner_control_area .btn_show_all_banner {
	color: #595959;
	height: 30px;
	padding: 0 12px;
	border: 1px solid #ccc;
	border-radius: 15px;
}
.welcome_banner_wrap .welcome_banner_control_area .btn_show_all_banner .text {
	padding-left: 12px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 7px 7px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../../mok/welcome/images/ico_welcome_show_all_banner@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.welcome_banner_wrap .circle_progress_wrap {
	width: 24px;
	height: 24px;
}

/* 웰컴 주력 마케팅 영역 */
.welcome_marketing_wrap {
	padding-top: 25px;
	border-top: 1px solid #f2f2f2;
}
.welcome_marketing_wrap .welcome_marketing_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item {
	flex: 0 0 54px;
	text-align: center;
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item a {
	display: block;
	line-height: 0;
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item .ico_welcome_marketing {
	display: inline-block;
	width: 28px;
	height: 28px;
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item:nth-child(1) .ico_welcome_marketing {
	background: url("../../mok/welcome/images/ico_welcome_marketing_1.svg");
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item:nth-child(2) .ico_welcome_marketing {
	background: url("../../mok/welcome/images/ico_welcome_marketing_2.svg");
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item:nth-child(3) .ico_welcome_marketing {
	background: url("../../mok/welcome/images/ico_welcome_marketing_3.svg");
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item:nth-child(4) .ico_welcome_marketing {
	background: url("../../mok/welcome/images/ico_welcome_marketing_4.svg");
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item:nth-child(5) .ico_welcome_marketing {
	background: url("../../mok/welcome/images/ico_welcome_marketing_5.svg");
}
.welcome_marketing_wrap .welcome_marketing_list .welcome_marketing_item .marketing_name {
	display: block;
	margin-top: 6px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
}

.prod_area .prod_info_box .prod_category_box .prod_category {
	color: #595959;
	font-weight: 400;
}

/* 웰컴 컨텐츠 블럭단위 영역 */
.welcome_main_content_area ~ .welcome_main_content_area {
	margin-top: 50px;
}
.welcome_main_content_area.contents_gap_area + .welcome_main_content_area {
	margin-top: 40px;
}
.welcome_main_content_area.has_top_line {
	padding-top: 40px;
	border-top: 1px solid #f2f2f2;
}
.welcome_main_content_area.type_gray {
	background: #f7f7f7;
	padding: 50px 0;
}
.welcome_main_content_area .title_wrap {
	padding-bottom: 13px;
}
.welcome_main_content_area .title_wrap .title_heading {
	word-break: keep-all;
}
.welcome_main_content_area .picks_wrap .picks_logo {
	display: inline-block;
	width: 55px;
	height: 26px;
	background: url("../../mok/welcome/images/ico_welcome_picks_mok.svg") center no-repeat;
	vertical-align: top;
}
.welcome_main_content_area .picks_wrap .picks_contents {
	background: rgba(60, 154, 23, 0.06);
	border-radius: 16px;
	padding: 36px 0 40px;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner {
	padding: 0 30px;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner ~ .picks_contents_inner {
	margin-top: 30px;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_desc {
	color: #3c9a17;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_info {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.01em;
	font-weight: 700;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_info.user_type {
	position: relative;
	display: inline-block;
	color: #3c9a17;
	padding-right: 37px;
	word-break: keep-all;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_info.user_type .user_level {
	position: relative;
	display: inline-block;
	color: #fff;
	height: 22px;
	padding: 0 8px;
	background: rgba(77, 172, 39, 0.9);
	border-radius: 11px;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	top: -13px;
	left: -6px;
	box-shadow: 0 5px 10px rgba(77, 172, 39, 0.4);
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list {
	margin-top: 16px;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .ico_author, .welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .ico_book, .welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .value {
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .ico_author, .welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .ico_book {
	color: #595959;
	padding-left: 23px;
	background-position: left center;
	background-repeat: no-repeat;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .ico_author {
	background-size: 18px 18px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../../mok/welcome/images/ico_welcome_picks_author_mok@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .ico_book {
	background-size: 18px 18px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../../mok/welcome/images/ico_welcome_picks_book_mok@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item .value {
	margin-left: 6px;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box .picks_data_list .picks_data_item + .picks_data_item {
	margin-top: 12px;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .picks_info_box + .tag_wrap {
	margin-top: 27px;
}
.welcome_main_content_area .picks_wrap .picks_contents .picks_contents_inner .btn_login {
	color: #fff;
	width: 100%;
	background: #4dac27;
	height: 50px;
	border-radius: 6px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.welcome_main_content_area .picks_wrap .picks_contents .category_tag_list {
	margin: 22px 0 24px;
	padding: 0 30px;
}
.welcome_main_content_area .picks_wrap .picks_contents .category_tag_list .category_item {
	margin-right: 16px;
}
.welcome_main_content_area .picks_wrap .picks_contents .prod_swiper_wrap {
	padding: 0 30px;
}
.welcome_main_content_area .picks_wrap .picks_contents .prod_swiper_wrap .prod_area {
	width: 118px;
}
.welcome_main_content_area .picks_wrap .picks_contents .prod_swiper_wrap .prod_area img {
	max-height: 180.924px;
}
.welcome_main_content_area .picks_wrap.not_login .picks_contents {
	padding-bottom: 30px;
}
.welcome_main_content_area .picks_wrap.not_login .picks_contents .picks_info_box .picks_info {
	margin-top: 6px;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.01em;
	font-weight: 700;
}
.welcome_main_content_area .picks_wrap.not_login .picks_contents .picks_info_box + .tag_wrap {
	margin-top: 18px;
}
.welcome_main_content_area .issue_new_prod_wrap .swiper-slide.prod_item .prod_area {
	width: 159px;
}
.welcome_main_content_area .issue_new_prod_wrap .swiper-slide.prod_item .prod_area .prod_thumb_box .img_box img {
	max-height: 247.262px;
}
.welcome_main_content_area .md_recommend_wrap .btn_set_favorite {
	color: #3c9a17;
	padding-left: 24px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../../mok/welcome/images/ico_welcome_setting@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	font-weight: 700;
}
.welcome_main_content_area .md_recommend_wrap .btn_set_favorite + .form_sel {
	margin-top: 24px;
}
.welcome_main_content_area .md_recommend_wrap .prod_swiper_wrap {
	margin-top: 20px;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_banner_top {
	position: absolute;
	width: 100%;
	height: 350px;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_banner_top .casting_logo {
	position: absolute;
	padding-top: 50px;
	text-align: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(20px) brightness(40%);
	z-index: 2;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_banner_top .casting_blur {
	height: 100%;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents {
	position: relative;
	padding-top: 84px;
	z-index: 3;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_title_box {
	text-align: center;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_title_box .casting_title {
	color: #fff;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.01em;
	font-weight: 700;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_title_box .casting_host {
	color: #fff;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_title_box .casting_host span {
	opacity: 0.6;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box {
	margin-top: 56px;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box .img_wrap {
	position: relative;
	border-radius: 16px;
	overflow: hidden;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box .img_wrap:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box .img_wrap:after {
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 56px;
	height: 56px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 56px 56px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../images/ico_video_play_w56_mok@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box .prod_area {
	margin-top: 10px;
	padding: 20px;
	border: 1px solid #eaeaea;
	border-radius: 16px;
	box-sizing: border-box;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box .prod_area .prod_thumb_box {
	width: 64px;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box .prod_area .prod_thumb_box .img_box img {
	max-height: 93.552px;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .casting_banner_area .casting_visual_box:not(.expanded) .prod_area {
	display: none;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .img_wrap img {
	width: 100%;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .swiper_control_box {
	position: absolute;
	top: 194px;
	left: 50%;
	transform: translateX(-50%);
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .swiper_control_box .swiper-pagination {
	margin-top: 0;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .swiper_control_box .swiper-pagination .swiper-pagination-bullet {
	background: #fff;
	opacity: 0.3;
}
.welcome_main_content_area .welcome_casting .casting_banner_wrap .casting_contents .swiper_control_box .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	opacity: 1;
}
.welcome_main_content_area .welcome_casting .casting_post_wrap {
	margin-top: 30px;
}
.welcome_main_content_area .welcome_casting .casting_post_wrap .prod_area .prod_thumb_box .img_box {
	border-radius: 67px;
}
.welcome_main_content_area .welcome_casting .casting_post_wrap .prod_area .prod_thumb_box .img_box:before {
	content: none;
}
.welcome_main_content_area .welcome_casting .casting_post_wrap .prod_area .prod_info_box {
	text-align: center;
}
.welcome_main_content_area .welcome_casting .casting_post_wrap .prod_area .prod_info_box .prod_author {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: none;
	-webkit-box-orient: inherit;
	-webkit-line-clamp: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item {
	border: 1px solid #eaeaea;
	border-radius: 16px;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active {
	border-color: #000;
	box-shadow: none;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active + .live_rank_item {
	border-top: 1px solid #eaeaea;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_header .btn_live_rank {
	padding: 12px 18px 16px 12px;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_header .btn_live_rank .left_area .rank {
	color: #fff;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_header .btn_live_rank .left_area .channel_logo {
	display: block;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_header .btn_live_rank .right_area .rank_status {
	transform: none;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_body .review_summary_wrap, .welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_body .rank_body_bottom {
	display: block;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item + .live_rank_item {
	margin-top: 10px;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank {
	padding: 0 18px 0 0;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .left_area .rank {
	color: #fff;
	width: 22px;
	height: 22px;
	background: #767676;
	border-radius: 6px 0 6px 0;
	font-size: 12px;
	text-align: center;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .left_area .rank.top {
	background: #4dac27;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .left_area .channel_logo {
	display: none;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .left_area .channel_logo img {
	height: 24px;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .right_area .rank_status {
	transform: translateY(7px);
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body {
	display: block;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area {
	align-items: center;
}
.welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .review_summary_wrap, .welcome_main_content_area .best_steady_wrap .live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .rank_body_bottom {
	display: none;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding: 20px 16px 20px 20px;
	border: 1px solid #eaeaea;
	border-radius: 10px;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list {
	width: calc(100% - 36px);
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list .keyword_item a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list .keyword_item .rank, .welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list .keyword_item .keyword, .welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list .keyword_item .rank_status {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list .keyword_item .rank {
	flex: 0 0 16px;
	margin-right: 12px;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list .keyword_item .keyword {
	flex: 1;
	margin-right: 30px;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	max-height: none;
	-webkit-box-orient: inherit;
	-webkit-line-clamp: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .keyword_list .keyword_item + .keyword_item {
	margin-top: 20px;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .btn_keyword_fold {
	flex: 0 0 24px;
	width: 24px;
	height: 24px;
	margin-left: 12px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../../mok/welcome/images/btn_realtime_fold@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
	font-size: 0;
	-webkit-transform: transform 0.23s;
	-moz-transform: transform 0.23s;
	-ms-transform: transform 0.23s;
	-o-transform: transform 0.23s;
	transform: transform 0.23s;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents .btn_keyword_fold.active {
	transform: rotate(180deg);
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents:not(.expanded) .keyword_item:not(:nth-child(1)) {
	display: none;
}
.welcome_main_content_area .realtime_keyword_wrap .realtime_keyword_contents.expanded {
	background: #f7f7f7;
	border-color: #f7f7f7;
}
.welcome_main_content_area .title_flex_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding: 0 20px 13px;
}
.welcome_main_content_area .title_flex_wrap .title_wrap {
	flex: 1;
	padding: 0;
}
.welcome_main_content_area .btn_more_cont {
	margin-top: 30px;
}

.live_rank_prod_wrap {
	position: relative;
	width: 100%;
}
.live_rank_prod_wrap .swiper-container .swiper-slide {
	height: auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.live_rank_prod_wrap .live_rank_prod_list {
	display: block;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item {
	display: block;
	position: relative;
	border-top: 1px solid #eaeaea;
	box-sizing: border-box;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	width: 100%;
	padding: 19px 10px 19px;
	text-align: left;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .left_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex: 1;
	overflow: hidden;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .left_area .rank {
	display: inline-block;
	width: 16px;
	margin-right: 10px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	color: #595959;
	font-weight: 500;
	vertical-align: top;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .left_area .name {
	display: inline-block;
	width: calc(100% - 16px);
	padding-top: 1px;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: #595959;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	max-height: none;
	-webkit-box-orient: inherit;
	-webkit-line-clamp: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .btn_live_rank .right_area {
	flex-shrink: 0;
	margin-left: 30px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_header .right_area {
	margin-left: auto;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body {
	display: none;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .rank_body_inner {
	padding: 0 20px 20px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal {
	align-items: flex-start;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_thumb_box {
	width: 118px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_thumb_box .img_box img {
	max-height: 180.924px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_info_box .prod_badge + .prod_info {
	margin-top: 6px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_info_box .prod_btn_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin-top: 16px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_info_box .prod_btn_box .btn_xs ~ .btn_wish {
	margin-left: 5px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_info_box .prod_btn_box .btn_wish {
	flex-shrink: 0;
}
@media (max-width: 359px) {
	.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_info_box .prod_btn_box {
		flex-direction: column;
	}
	.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_info_box .prod_btn_box .btn_xs {
		width: 100%;
	}
	.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .prod_area.horizontal .prod_info_box .prod_btn_box .btn_xs ~ .btn_wish {
		width: 100%;
		margin-left: 0;
		margin-top: 8px;
	}
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .rank_body_bottom {
	display: block;
	padding: 15px 20px 14px;
	border-top: 1px solid #f2f2f2;
	text-align: center;
	box-sizing: border-box;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .rank_body_bottom .prod_showing {
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.01em;
	color: #474c98;
	font-weight: 700;
	vertical-align: top;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item .live_rank_body .rank_body_bottom .prod_showing::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 12px;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-right: 3px;
	background-size: 18px 12px;
	/*@media (-webkit-min-device-pixel-ratio: 2) {
		& {*/
	background-image: url("../images/ico_showing_purple_mok@2x.png");
	/*}
	}
	@media (-webkit-min-device-pixel-ratio: 3) {
		& {
			background-image: url($file + '@3x.' + $type);
		}
	}*/
	vertical-align: top;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item:last-child {
	border-bottom: 1px solid #eaeaea;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active {
	padding-bottom: 0;
	border: none;
	border-radius: 16px;
	box-shadow: 10px 10px 20px rgba(89, 89, 89, 0.1);
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_header .btn_live_rank {
	padding: 19px 20px 16px;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_header .btn_live_rank .left_area .rank {
	width: auto;
	font-size: 16px;
	color: #3c9a17;
	font-weight: 700;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_header .btn_live_rank .left_area .name {
	display: none;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active .live_rank_body {
	display: block;
}
.live_rank_prod_wrap .live_rank_prod_list .live_rank_item.active + .live_rank_item {
	border-top: none;
	margin-top: 4px;
}
.live_rank_prod_wrap .live_rank_prod_bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	padding: 12px 25px 0;
}
.live_rank_prod_wrap .live_rank_prod_bottom .right_area {
	margin-left: auto;
}
.live_rank_prod_wrap .live_rank_prod_bottom .right_area .swiper_control_box .swiper-pagination {
	margin-top: 0;
}

.dialog_wrapper .ui-dialog.all_banner .dialog_wrap.ui-dialog-content {
	padding-top: 0;
}
.dialog_wrapper .ui-dialog.all_banner .dialog_wrap.ui-dialog-content, .dialog_wrapper .ui-dialog.all_banner .dialog_wrap.ui-dialog-content .dialog_contents {
	background: transparent;
}
.dialog_wrapper .ui-dialog.all_banner .dialog_wrap.ui-dialog-content .dialog_contents {
	margin-top: 0;
}

.all_banner_list .all_banner_item {
	border-radius: 16px;
	overflow: hidden;
}
.all_banner_list .all_banner_item img {
	width: 100%;
}
.all_banner_list .all_banner_item + .all_banner_item {
	margin-top: 12px;
}

.circle_progress_wrap {
	position: relative;
}
.circle_progress_wrap .circle_progress {
	transform: rotate(-90deg);
}
.circle_progress_wrap .bar {
	fill: none;
	stroke: #000;
	stroke-linecap: round;
}
/*# sourceMappingURL=welcome_mok.css.map */
