.origin{
    &_topBanner{
        width: 100%;
        height: 150px;
        background: url(../../dig/images/etc/img_origin_top.png) no-repeat center top;
        box-sizing: border-box;
        margin-bottom: 80px;
    }
    &_bottomBanner{
        width: 100%;
        height: 150px;
        background: url(../../dig/images/etc/img_origin_bottom.png) no-repeat center top;
        box-sizing: border-box;
        margin-top: 80px;
    }


}