@use 'sass:map';
@use '../../common/scss/abstracts/variables';
@use '../../common/scss/abstracts/functions';
@use '../../common/scss/abstracts/mixins';

.samis {
    &_visual {
        width: 100%;
        height: 400px;
        background: #eee url(../../dig/images/sam/img_samIs_top.png) no-repeat center top;
    }

    &_tabMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #d5d5d5;

        li {
            width: 240px;
            height: 72px;

            button {
                width: 100%;
                height: 100%;
                font-size: 16px;
                color: #767676;
                cursor: pointer;

                &.current {
                    position: relative;
                    font-weight: 600;
                    color: #000;

                    &:after {
                        position: absolute;
                        left: 50%;
                        bottom: -1px;
                        width: 100%;
                        height: 3px;
                        background-color: #000;
                        transform: translateX(-50%);
                        animation: sort .1s linear;
                        content: "";
                    }
                }
            }
        }
    } 

    .intro {
        &_top {
            background-color: #f7f7f7;

            .contents_inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 110px 0 112px;
            }

            .text {
                span {
                    font-size: 24px;
                    color: #000;
                }
                strong {
                    position: relative;
                    display: block;
                    font-size: 50px;
                    color: #000;
                    z-index: 0;
                    margin-top: 2px;
                    &:after {
                        position: absolute;
                        left: -7px;
                        bottom: 6px;
                        display: inherit;
                        width: 100%;
                        height: 23px;
                        background-color: #B2F697;
                        animation-fill-mode: forwards;
                        z-index: -1;
                        content: "";
                    }
                }
                em{
                    display: block;
                    margin-top: 48px;
                    font-weight: 600;
                    font-size: 20px;
                    color: #474c98;
                }
                small {
                    display: block;
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #767676;
                }
                p {
                    margin-top: 24px;
                    font-size: 18px;
                    line-height: 28px;
                    color: #292929;
                }
            }

            .img {
                position: relative;
                text-align: center;
                z-index: 0;
                // &:before {
                //     position: absolute;
                //     left: 50%;
                //     top: 40px;
                //     display: block;
                //     width: 580px;
                //     height: 580px;
                //     border-radius: 50%;
                //     background-color: #eaeaea;
                //     transform: translateX(-50%);
                //     z-index: -1;
                //     content: "";
                // }
            }
        }

        &_contents {
            &.contents {
                padding-top: 100px;
                height: 819px;
                text-align: center;
                box-sizing: border-box;
                background: url(../../dig/images/sam/bg_samIs_contents.png) repeat-x center;

                span {
                    font-size: 24px;
                    color: #000;
                }
                strong {
                    position: relative;
                    display: block;
                    font-size: 50px;
                    color: #000;
                    z-index: 0;
                    &:after {
                        position: absolute;
                        left: 50%;
                        bottom: 6px;
                        display: inherit;
                        width: 300px;
                        height: 23px;
                        background-color: #B2F697;
                        animation-fill-mode: forwards;
                        transform: translateX(30px);
                        z-index: -1;
                        content: "";
                    }
                }
                p {
                    margin-top: 34px;
                    font-weight: 500;
                    font-size: 18px;
                    color: #292929;
                }

                .book {
                    position: relative;
                    margin: 80px auto 0;
                    padding-bottom: 40px;
                    width: 1262px;
                    overflow: hidden;
                
                    .swiper-wrapper {
                        align-items: center;
                        margin-left: -26px;
                        .swiper-slide {
                            display: flex;
                            align-items: flex-end;
                            width: fit-content;
                            perspective: 900px;
                            height: 369px;

                            &.swiper-slide-active {
                                padding: 0 4px;
                                width: 135px !important;
                                img {
                                    margin-bottom: 14px;
                                    width: 135px !important;
                                    height: 212px;
                                    border-radius: 16px 16px 16px 0;
                                    transition: all .8s;
                                    transform-origin : 100% 0;
                                    transform: rotateY(-32deg);
                                }
                            }
                            &.swiper-slide-next {        
                                padding: 0 4px;                        
                                width: 170px !important;
                                img {
                                    width: 170px;
                                    height: 266px;
                                    border-radius: 16px 16px 16px 0;
                                    transition: all .8s;
                                    transform-origin : 100% 0;
                                    transform: rotateY(-10deg);
                                }
                                & + .swiper-slide {
                                    padding: 0 4px;
                                    width: 200px !important;
                                    img {
                                        width: 200px;
                                        height: 313px;
                                        border-radius: 20px 20px 20px 0;
                                        transition: all .8s;
                                        transform: rotateY(2deg);
                                        transform-origin : 0 100%;
                                    }
                                    
                                    & + .swiper-slide {
                                        padding: 0 4px;
                                        width: 237px !important;
                                        img {
                                            width: 237px;
                                            height: 369px;
                                            border-radius: 24px 24px 24px 0;
                                            transition: all .8s;
                                        }
                                        & + .swiper-slide {
                                            padding: 0 4px;
                                            width: 200px !important;
                                            img {
                                                width: 200px;
                                                height: 313px;
                                                border-radius: 20px 20px 20px 0;
                                                transition: all .8s;
                                                transform: rotateY(2deg);
                                                transform-origin : 0 100%;
                                            }

                                            & + .swiper-slide {
                                                padding: 0 4px;
                                                width: 170px !important;
                                                img {
                                                    width: 170px;
                                                    height: 266px;
                                                    border-radius: 16px 16px 16px 0;
                                                    transition: all .8s;
                                                    transform: rotateY(10deg);
                                                    transform-origin : 0 100%;
                                                }
            
                                                & + .swiper-slide {
                                                    padding: 0 4px;
                                                    width: 135px !important;
                                                    img {
                                                        margin-bottom: 14px;
                                                        width: 135px !important;
                                                        height: 212px;
                                                        border-radius: 16px 16px 16px 0;
                                                        transition: all .8s;
                                                        transform: rotateY(32deg);
                                                        transform-origin : 0 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }

                    img {
                        width: 135px;
                        height: 212px;
                    }
                }
            }

            &.bookLife {
                background-color: #f7f7f7;

                .contents_inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;                    
                    padding: 154px 0 155px;
                    background: url(../../dig/images/sam/img_bookLife.png) no-repeat right center;
                    > span {
                        font-size: 24px;
                        color: #000;
                    }
                    > strong {
                        margin-top: 2px;
                        font-size: 50px;
                        color: #000;
                    }
                    > p {
                        margin-top: 48px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        color: #292929;
                    }

                    button {
                        margin-top: 30px;
                        padding: 0;
                        width: 170px;
                        font-size: 15px;
                    }                    
                }
            }

            &.update {
                .contents_inner {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;                    
                    padding: 100px 0;

                    .quantity {
                        position: relative;
                        margin-right: 160px;
                        width: 527px;
                        height: 458px;
                        background: url(../../dig/images/sam/bg_update.png) no-repeat right center;

                        > div {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: flex-start;
                            position: absolute;
                            width: 190px;
                            font-weight: 600;
                            font-size: 20px;
                            color: #000;
                            vertical-align: middle;

                            span {
                                width: 100%;
                            }

                            div {
                                display: flex;
                                height: 56px;
                                font-weight: 600;
                                font-size: 40px;
                                vertical-align: sub;
                                overflow: hidden;
                                ul.rotate {
                                  animation: slot 1.2s 1;
                                }
                            }
                            em {
                                display: inline-block;
                                margin-left: 10px;
                            }

                            &.qua_1 {
                                left: 70px;
                                top: 123px;
                            }

                            &.qua_2 {
                                right: 60px;
                                bottom: 130px;
                            }
                        }
                    }

                    .text {
                        strong {
                            margin-top: 2px;
                            font-size: 50px;
                            color: #000;
                        }
                        p {
                            margin-top: 48px;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: #292929;
                        }
                    }

                    .swiper-container {
                        margin-top: 30px;
                        .swiper-wrapper {
                            align-items: center;
                            .swiper-slide {
                                width: fit-content;                            
                            }
                        }
                    }
                }
            }

            &.spectrum {
                padding: 100px 0;
                text-align: center;
                background-color: #f7f7f7;
                strong {
                    position: relative;
                    display: inline-block;
                    font-size: 50px;
                    color: #000;
                    z-index: 0;
                    &:after {
                        position: absolute;
                        left: 50%;
                        bottom: 6px;
                        display: inherit;
                        width: 350px;
                        height: 23px;
                        background-color: #B2F697;
                        animation-fill-mode: forwards;
                        transform: translateX(-30px);
                        z-index: -1;
                        content: "";
                    }
                }
                .spectrum_item {
                    display: flex;
                    justify-content: center;
                    gap: 0 95px;
                    margin-top: 80px;

                    div {
                        padding-top: 340px;
                        text-align: center;

                        b {
                            font-size: 24px;
                            color: #000;
                        }
                        p {
                            margin-top: 20px;
                            font-size: 16px;
                            color: #595959;
                        }

                        &:nth-child(1) {
                            background: url(../../dig/images/sam/img_spectrum_01.png) no-repeat center top;
                        }
                        &:nth-child(2) {
                            background: url(../../dig/images/sam/img_spectrum_02.png) no-repeat center top;
                        }
                        &:nth-child(3) {
                            background: url(../../dig/images/sam/img_spectrum_03.png) no-repeat center top;
                        }
                    }
                }
            }

            &.history {
                padding: 100px 0 123px;
                text-align: center;
                box-sizing: border-box;
                span {
                    font-size: 24px;
                    color: #000;
                }
                strong {
                    position: relative;
                    display: block;
                    font-size: 50px;
                    color: #000;
                    z-index: 0;
                    &:after {
                        position: absolute;
                        left: 50%;
                        bottom: 6px;
                        display: inherit;
                        width: 250px;
                        height: 23px;
                        background-color: #B2F697;
                        animation-fill-mode: forwards;
                        transform: translateX(-125px);
                        z-index: -1;
                        content: "";
                    }
                }
                .contents_inner {
                    margin-top: 80px;
                    background: url(../../dig/images/sam/bg_history.png) no-repeat right top;
                    background-size:  540px 615px;
                }
                .history_line {
                    dl {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        gap: 12px 0;
                        width: 600px;
                        dt {
                            width: 114px;
                            font-weight: 600;
                            font-size: 24px;
                            color: #767676;
                            line-height: 100%;
                            text-align: left;
                        }
                        dd {
                            width: 486px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            gap: 5px 0;

                            span {
                                margin-right: 24px;
                                font-weight: 600;
                                font-size: 16px;
                                color: #000;
                                &:after {
                                    content: "월";
                                }
                            }
                            p {
                                padding-right: 20px;
                                width: 428px;
                                font-size: 16px;
                                color: #595959;
                                box-sizing: border-box;
                                text-align: left;
                            }
                        }

                        & + dl {
                            margin-top: 20px;
                            padding-top: 20px;
                            border-top: 1px solid #eaeaea;
                        }
                    }
                }
            }

            &.samUse {
                position: relative;
                padding: 100px 0;
                text-align: center;
                background-color: #f7f7f7;
                strong {
                    position: relative;
                    display: inline-block;
                    font-size: 50px;
                    color: #000;
                    z-index: 0;
                    // &:after {
                    //     position: absolute;
                    //     left: 50%;
                    //     bottom: 6px;
                    //     display: inherit;
                    //     width: 290px;
                    //     height: 23px;
                    //     background-color: #B2F697;
                    //     animation-fill-mode: forwards;
                    //     transform: translateX(-15px);
                    //     z-index: -1;
                    //     content: "";
                    // }
                }

                .swiper-container {
                    margin: 80px auto 0;
                    width: 1200px;
                    z-index: 2;

                    .swiper-slide {
                        display: flex;
                        .img {
                            padding-left: 120px;
                            text-align: center;
                        }
                        > .text {
                            margin-left: 190px;
                            padding-top: 174px;
                            text-align: left;
                            b {
                                font-size: 24px;
                                line-height: 36px;
                                color: #000;
                            }
                            p {
                                margin-top: 10px;
                                font-size: 20px;
                                line-height: 30px;
                                color: #000;
                            }
                            button {
                                margin-top: 24px;
                            }
                        }
                    }
                }

                .swiper_control_box {
                    position: absolute;
                    left: calc(50% - 5px);
                    bottom: 64px;
                    z-index: 3;
                    .swiper-pagination-bullets {
                        display: flex;
                        align-items: center;
                        gap: 0 12px;
                        .swiper-pagination-bullet {
                           width: 12px;
                           height: 12px;
                           margin: 0;
                           background-color: #d5d5d5;
       
                           &-active {
                               background-color: #595959;
                           }
                       }
                    }
                }
                        
                .swiper-button-prev {
                    top: calc(50% - -36px);
                    left: calc(50% - 600px);
                    margin-top: 0;
                    width: 20.6px;
                    height: 36px;
                    background-image: url(../images/common/icon_arrow_line.png);
                    background-size: 20.6px 36px;
                    background-color: transparent;
                    border-radius: 0;        
                }
            
                .swiper-button-next {
                    top: calc(50% - -36px);
                    right: calc(50% - 600px);
                    margin-top: 0;   
                    width: 20.6px;
                    height: 36px;
                    background-image: url(../images/common/icon_arrow_line.png);
                    background-size: 20.6px 36px;
                    background-color: transparent;
                    border-radius: 0;                     
                }

                &:after {
                    position: absolute;
                    left: calc(50% - 750px);
                    top: 50%;
                    width: 100%;
                    height: 340px;
                    background-color: #ddeeee;
                    transform: translateY(-110px);
                    z-index: 1;
                    content: "";
                }
            }
        }
    }

    .fitme {        
        &_pick {
            position: relative;
            padding: 100px 0 151px;
            background-color: #f7f7f7;

            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 314px;
                background-color: #ddeeee;
                content: "";
            }

            > strong {
                position: relative;
                display: inline-block;
                margin-left: calc(50% - 600px);
                font-size: 30px;
                color: #000;
                z-index: 0;
                &:after {
                    position: absolute;
                    left: 50%;
                    bottom: 2px;
                    display: inherit;
                    width: 180px;
                    height: 14px;
                    background-color: #B2F697;
                    animation-fill-mode: forwards;
                    transform: translateX(20px);
                    z-index: -1;
                    content: "";
                }
            }

            .swiper {
                margin-top: 40px;
                margin-left: calc(50% - 600px);

                .swiper-slide {
                    position: relative;
                    width: 380px;

                    .img {
                        position: relative;
                        width: 380px;
                        overflow: hidden;

                        .over {
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            font-size: 16px;
                            line-height: 24px;
                            background-color: rgba(0, 0, 0, 0.8);
                            z-index: 2;
                            opacity: 0;

                            span {
                                color: #fff;
                            }
                            strong {
                                color: #b2f697;
                                text-decoration: underline;
                                cursor: pointer;

                                & + span {
                                    margin-top: 40px;
                                }
                            }
                        }

                        em {
                            position: absolute;
                            left: -95px;
                            top: 30px;
                            display: block;
                            padding: 0 100px;
                            font-weight: 500;
                            font-size: 12px;
                            color: #fff;
                            line-height: 38px;
                            text-align: center;
                            background-color: #5055B1;
                            transform: rotate(-45deg);
                            z-index: 5;
                        }
                    }

                    &:hover {
                        .over {
                            animation: over .3s linear;
                            opacity: 1;
                        }
                    }
                    .text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 35px;
                        height: 163px;
                        box-sizing: border-box;
                        background-color: #fff;

                        strong {
                            font-size: 20px;
                            line-height: 30px;
                            color: #000;
                        }
                        p {
                            margin-top: 15px;
                            font-size: 16px;
                            line-height: 24px;
                            color: #595959;
                            text-align: center;
                        }
                    }
                }
            }

            .swiper-scrollbar {
                position: absolute;
                left: calc(50% - 600px);
                bottom: 100px;
                width: 1200px;
                height: 2px;
                background-color: #ccc;
                z-index: 3;
                .swiper-scrollbar-drag {
                    background-color: #000;
                }
            }

        }

        &_compare {
            position: relative;
            margin-top: 100px;

            &:before {
                position: absolute;
                left: 50%;
                bottom: 200px;
                display: block;
                width: 102px;
                height: 102px;
                background-image: url(../../dig/images/sam/bg_compare_01.png);
                transform: translateX(-880px);
                content: "";
            }

            &:after {
                position: absolute;
                left: 50%;
                bottom: 10px;
                display: block;
                width: 236px;
                height: 236px;
                background-image: url(../../dig/images/sam/bg_compare_02.png);
                transform: translateX(-730px);
                z-index: -1;
                content: "";
            }

            .contents_inner {
                position: relative;
                strong {
                    position: relative;
                    display: inline-block;
                    font-size: 30px;
                    color: #000;
                    z-index: 0;
                    &:after {
                        position: absolute;
                        left: 50%;
                        bottom: 2px;
                        display: inherit;
                        width: 120px;
                        height: 14px;
                        background-color: #B2F697;
                        animation-fill-mode: forwards;
                        transform: translateX(20px);
                        z-index: -1;
                        content: "";
                    }
                }

                table {
                    table-layout: fixed;
                    margin-top: 40px;
                    border-top: 1px solid #000;

                    th {
                        font-size: 16px;
                        color: #000;
                        border-bottom: 1px solid #eaeaea;
                        background-color: #f7f7f7;
                    }
                    td {
                        font-size: 16px;
                        color: #000;
                        text-align: center;
                        border-left: 1px solid #d5d5d5d5;
                        border-bottom: 1px solid #eaeaea;

                        .form_sel {
                            width: 280px;
                        }
                    }

                    thead {
                        th {
                            height: 100px;
                            font-weight: 600;
                            border-bottom: 1px solid #d5d5d5d5;
                        }
                        td {
                            border-bottom: 1px solid #d5d5d5d5;
                            background-color: #f7f7f7;
                        }
                    }

                    tbody {
                        th {
                            padding: 30px 0;
                            font-weight: 400;
                            letter-spacing: -.16px;
                        }
                        td {
                            i {
                                font-style: normal;
                                font-size: 12px;
                            }
                        }

                        tr:nth-child(4) {
                            td {
                                font-weight: 600;
                                color: #474c98;
                            }
                        }
                        
                        em {
                            display: block;
                            font-size: 12px;
                        }
                    }
                }

                > button {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    
    .voucher {
        padding-top: 100px;
        strong {
            position: relative;
            display: inline-block;
            font-size: 30px;
            color: #000;
            z-index: 0;
            &:after {
                position: absolute;
                left: 50%;
                bottom: 4px;
                display: inherit;
                width: 210px;
                height: 14px;
                background-color: #B2F697;
                animation-fill-mode: forwards;
                transform: translateX(-135px);
                z-index: -1;
                content: "";
            }

            button {
                margin-left: 10px;
                font-weight: 400;
            }
        }

        table {
            table-layout: fixed;
            margin-top: 40px;
            width: 100%;
            border-top: 1px solid #000;
            caption {
                padding: 0;
                width: 100%;
                height: 50px;
                font-weight: 600;
                font-size: 20px;
                color: #000;
                line-height: 100%;
                text-align: left;
                text-indent: 0;
                visibility: visible;
                overflow: visible;

                em {
                    font-size: 16px;
                    color: #595959;
                }

                button {
                    margin-left: 5px;
                    padding: 1px 10px;
                    font-weight: 400;
                    vertical-align: middle;
                    border-radius: 12px;
                }
            }

            & + table {
                margin-top: 40px;
            }

            thead {
                th {
                    height: 80px;
                    font-weight: 600;
                    font-size: 16px;
                    color: #000;
                    border-bottom: 1px solid #d5d5d5d5;
                    background-color: #f7f7f7;
                }
            }

            tbody {
                td {
                    padding: 28px 0;
                    font-size: 16px;                    
                    color: #000;
                    text-align: center;
                    border-bottom: 1px solid #eaeaea;

                    & + td {
                        border-left: 1px solid #eaeaea;
                    }

                    &:nth-child(1) {
                        padding-left: 50px;
                        text-align: left;
                    }

                    &:nth-child(4) {
                        font-weight: 600;
                        padding-right: 50px;
                        text-align: right;
                        em {
                            font-weight: 400;
                            font-size: 14px;
                            color: #767676;
                        }
                    }

                    button {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .bookSearch {
        padding: 100px 0;
        background: url(../../dig/images/sam/bg_bookSearch.png) no-repeat center top;
        
        .contents_inner > strong {
            position: relative;
            display: inline-block;
            font-size: 30px;
            color: #000;
            z-index: 0;
            &:after {
                position: absolute;
                left: 50%;
                bottom: 4px;
                display: inherit;
                width: 90px;
                height: 14px;
                background-color: #B2F697;
                animation-fill-mode: forwards;
                transform: translateX(30px);
                z-index: -1;
                content: "";
            }

            & + .step {
                margin-top: 50px;
            }

            & + .step + .step {
                flex-direction: row-reverse;
                margin-top: 20px;
                .img {
                    width: 665px;
                }
            }
        }

        .step {
            display: flex;

            .img {
                width: 745px;
                text-align: center;
            }

            .text {
                margin-top: 180px;
                b {
                    position: relative;
                    display: block;
                    font-weight: 700;
                    font-size: 24px;
                    color: #000;
                    z-index: 0;
                    &:after {
                        position: absolute;
                        left: 0;
                        bottom: 4px;
                        display: inherit;
                        width: 24px;
                        height: 14px;
                        background-color: #B2F697;
                        animation-fill-mode: forwards;
                        z-index: -1;
                        content: "";
                    }
                }
                strong {
                    display: block;
                    font-size: 24px;
                    color: #000;
                }
                p {
                    margin-top: 24px;
                    width: 390px;
                    font-size: 16px;
                    color: #767676;
                    line-height: 24px;
                }
            }

            &:last-child {
                transform: translateY(-45px);
            }
        }
    }

    .join {
        padding-top: 100px;

        strong {
            position: relative;
            display: inline-block;
            font-size: 30px;
            color: #000;
            z-index: 0;
            &:after {
                position: absolute;
                left: 0;
                bottom: 4px;
                display: inherit;
                width: 110px;
                height: 14px;
                background-color: #B2F697;
                animation-fill-mode: forwards;
                z-index: -1;
                content: "";
            }
        }

        &_item {
            display: flex;
            padding-left: 123px;
            gap: 0 190px;

            & + strong {
                margin-top: 80px;
            }

            div {
                width: 363px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #000;
                text-align: center;
            }

            &.top {
                padding-top: 390px;
                background: url(../../dig/images/sam/img_join_01.png) no-repeat 0 0;
            }

            &.bottom {
                padding-top: 450px;
                background: url(../../dig/images/sam/img_join_02.png) no-repeat left 40px top;
            }
        }
    }

}
.form_sel .ui-selectmenu-button {
    border-radius: 22px;
    border-color: #000;
}
.ui-selectmenu-menu .ui-menu {
    max-height: 350px;
    &::-webkit-scrollbar {width: 3px;}
    &::-webkit-scrollbar-thumb {background-color: #000;}
    &::-webkit-scrollbar-track {background-color: #f0f0f0;}
    .ui-selectmenu-optgroup {
        margin: 0;
        padding: 11px 15px;
        font-size: 14px;
    }
}

.pop_ProdInfo {
    li {
        position: relative;
        padding-left: 10px;
        font-size: 14px;
        color: #595959;

        & + li {
            margin-top: 10px;
        }

        &:before {
            position: absolute;
            left: 0;
            top: 8px;
            display: block;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #595959;
            content: "";
        }
    }
}
.popUse_box {
    padding-right: 15px;
    max-height: 300px;
    overflow: auto;
    &::-webkit-scrollbar {width: 3px;}
    &::-webkit-scrollbar-thumb {background-color: #000;}
    &::-webkit-scrollbar-track {background-color: #f0f0f0;}

    h4 {
        margin-bottom: 10px;
        font-size: 15px;
    }
    ul {
        li {
            margin-left: 16px;
            font-size: 13px;
            color: #595959;
            line-height: 20px;
            text-indent: -16px;

            & + li {
                margin-top: 5px;
            }
        }

        & + h4 {
            margin-top: 30px;
        }
    }
}