//// 타이틀 폰트 기본

//// s : 텍스트 레벨
$titleFontSizeTwoXLarge: 26px;
$titleFontSizeTwoXLargeLineHeight: 34px;
$titleFontSizeTwoXLargeLetterSpacing: -0.65px;

$titleFontSizeTwoXLargeSub: 18px;
$titleFontSizeTwoXLargeSubLineHeight: 25px;
$titleFontSizeTwoXLargeSubLetterSpacing: -0.45px;

$titleFontSizeXLarge: 22px;
$titleFontSizeXLargeLineHeight: 34px;
$titleFontSizeXLargeLetterSpacing: -0.01px;

$titleFontSizeLarge: 20px;
$titleFontSizeLargeLineHeight: 32px;
$titleFontSizeLargeLetterSpacing: -0.01px;
$titleFontSizeLargeSub: 14px;
$titleFontSizeLargeSubLineHeight: 22px;
$titleFontSizeLargeSubLetterSpacing: -0.16px;

$titleFontSizeDefault: 18px;
$titleFontSizeDefaultLineHeight: 28px;
$titleFontSizeDefaultLetterSpacing: -0.01px;

$titleFontSizeSmall: 16px;
$titleFontSizeSmallLineHeight: 26px;
$titleFontSizeSmallLetterSpacing: -0.01px;

$titleFontSizeXSmall: 15px;
$titleFontSizeXSmallLineHeight: 22px;
$titleFontSizeXSmallLetterSpacing: -0.01px;
$titleFontSizeXSmallSub: 13px;
$titleFontSizeXSmallSubLineHeight: 20px;
$titleFontSizeXSmallSubLetterSpacing: -0.13px;
//// e : 텍스트 레벨

//// s : font-color
$textColorGray:#767676;
$textColorGray01: #595959;
//// e : 텍스트 레벨

//// s : font 기본
$fontSizeTypeSubCopy:16px;
$letterSpacingTypeSubCopy:-0.1px;
$lineHeightTypeSubCopy:24px;

$fontSizeType00:15px;
$letterSpacingType00:-0.1px;
$lineHeightType00:23px;

$fontSizeType01:14px;
$letterSpacingType01:-0.1px;
$lineHeightType01:22px;

$fontSizeType02:13px;
$letterSpacingType01:-0.1px;
$lineHeightType01:19px;

$fontSizeTypeInfo:12px;
$letterSpacingTypeInfo:-0.1px;
$lineHeightTypeInfo:18px;
$fontColorTypeInfo:#767676;
//// e : font 기본


// s : product-itme size
$prodImgSizeXXS:46px;
$prodImgSizeXS:64px;
$prodImgSizeS:84px;
$prodImgSizeN:100px;
$prodImgSizeL:134px;
$prodImgSizeXL:159px;
// e : product-itme size
