@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/functions';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';
// fold default
.fold_box_wrap{
	.fold_box_list {
		.fold_box{
			+ .fold_box {
				margin-top: 10px;
			}
		}
	}

	.fold_box {
		background: variables.$colorGray06;
		border: 1px solid variables.$colorGray04;
		border-radius: 10px;
		overflow: hidden;
		box-sizing: border-box;

		.fold_box_header, .fold_box_contents {
			padding: 0 19px;
		}

		.fold_box_header {
			position: relative;
			padding: 23px 30px 23px 20px;
			cursor: pointer;
			@include mixins.font_size_sm;
			font-weight: variables.$fontWeightBold;

			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 11px;
				height: 7px;
				right: 20px;
				top: 50%;
				background: {
					repeat: no-repeat;
				}
				@include mixins.ratio_images('../images/arw_fold_toggle_mok', 'png', 11px, 7px);
				@include mixins.transform(translateY(-50%) rotate(0));
			}

			.btn_fold {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}

			.form_rdo,
			.form_chk {
				z-index: 2;
			}
		}

		.fold_box_contents {
			height: 0;
			overflow: hidden;
		}

		&.expanded {
			background: #fff;
			border-color: variables.$colorGray03;

			.fold_box_header {
				&:after{
					@include mixins.transform(translateY(-50%) rotate(180deg));
				}
			}

			> .fold_box_contents {
				height: auto;
				padding: {
					top: 7px;
					bottom: 19px;
				}

				.form_wrap{
					+ .btn_wrap{
						margin-top: 20px;
					}
				}
			}
		}

		&.no_fold{
			.fold_box_header{
				&:after{
					content: none;
				}

				cursor: default;
			}
		}

		// fold select type 추가
		&.type_select {
			border-radius: 6px;
			background-color: #fff;

			.fold_box_header {
				padding: 14px 37px 12px 13px;
				@include mixins.font_size_sm;
				font-weight: variables.$fontWeightRegular;

				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 11px;
					height: 7px;
					right: 14px;
					top: 50%;
					margin-top: 1px;
					@include mixins.ratio_images('../images/arw_select_mok', 'png', 9px, 5px);
					@include mixins.transform(translateY(-50%));
				}
			}

			.fold_box_contents {
				padding: 0;
			}

			.fold_select_wrap {
				border-top: 1px solid #000;

				.fold_select_list {
					.fold_select_item {
						@include mixins.justify_width(center, between, row);
						box-sizing: border-box;
						width: 100%;
						padding: 16px 13px 15px 11px;
						text-align: left;
						cursor: pointer;

						.name {
							@include mixins.font_size_sm;
						}

						.opt {
							flex-shrink: 0;
							width: 80px;
							margin-left: 10px;
							@include mixins.font_size_xs;
							text-align: right;

							.val {
								font-weight: variables.$fontWeightBold;
							}

							&.type_gray {
								color: variables.$textColorGray;
							}
							&.type_state {
								color: variables.$textColorGray;
								@include mixins.font_size_xxs;
							}
							&.type_free {
								color: variables.$textColorPurple;
								font-weight: variables.$fontWeightBold;
							}
						}

						&:disabled {
							background-color: #f5f5f5;
							cursor: default;

							.name, .opt {
								color: variables.$textColorLightGray;
							}

							&:active, &:focus {
								background: none;
							}
						}
					}

					// 상품 옵션 노출
					.fold_select_prd {
						@include mixins.justify_width(center);
						box-sizing: border-box;
						width: 100%;
						padding: 13px 13px;
						text-align: left;
						cursor: pointer;

						.cover {
							display: inline-block;
							flex: 0 auto;
							position: relative;
							width: 42px;
							height: 42px;
							border: 1px solid variables.$colorGray04;
							margin-right: 10px;
							box-sizing: border-box;
							background-color: #fff;

							.img_box {
								position: relative;
								display: block;
								width: 100%;
								height: 100%;
								overflow: hidden;
								background: {
									repeat: no-repeat;
									size: contain;
									position: center;
								}

								img {
									display: none;
								}
							}
						}

						.info {
							display: inline-block;
							flex: 1 0;
							position: relative;
							overflow: hidden;
							padding-top: 2px;

							.flag {
								display: block;
								margin-bottom: 4px;
								color: variables.$textColorGray;
								@include mixins.font_size_xxs;
								font-weight: variables.$fontWeightBold;
								vertical-align: top;
							}

							.name {
								display: block;
								@include mixins.font_size_sm;
								@include mixins.ellipsis;
								vertical-align: top;
							}
						}

						&:disabled {
							background-color: #f5f5f5;
							cursor: default;

							.cover {
								opacity: .5;
							}

							.info {
								.flag, .name {
									color: variables.$textColorLightGray;
								}
							}

							&:active, &:focus {
								background-color: transparent;
							}
						}
					}
				}
			}

			&.disabled {
				background-color: variables.$colorGray06;

				.fold_box_header {
					color: variables.$textColorLightGray;
					cursor: default;
				}

				.btn_fold {
					pointer-events: none;
					cursor: default;

					&[disabled] {
						pointer-events: none;
						cursor: default;
					}
				}
			}
		}
	}

	&.type_white {
		.fold_box {
			border-color: variables.$colorGray03;

			.fold_box_header {
				padding: 19px 30px 19px 19px;
				font-weight: variables.$fontWeightMedium;
				background: #fff;
			}

			&.expanded {
				border-color: #000;

				> .fold_box_contents {
					padding-top: 11px;
				}
			}
		}
	}

	&.type_line, &.type_order{
		.fold_box_list {
			.fold_box {
				border: none;
				border-radius: 0;
				background: none;

				~ .fold_box {
					margin-top: 0;
				}

				.fold_box_header {
					border-bottom: 1px solid variables.$colorGray04;
				}
			}
		}
	}
	&.type_line {
		.fold_box_list {
			.fold_box {
				.fold_box_header {
					padding: 20px 4px;
					&:after {
						right: 7px;
					}
				}
				&.expanded {
					.fold_box_contents {
						padding: 20px 4px;
						border-bottom: 1px solid variables.$colorGray04;
					}
				}
			}
		}
	}
	&.type_order{
		.fold_box_list{
			.fold_box{
				&:before{
					content: '';
					display: block;
					height: 10px;
					background-color: variables.$colorGray06;
				}

				&.expanded{
					.fold_box_contents{
						padding: 0;
					}
				}

				&.type_package{
					&.expanded {
						.fold_box_header{
							border-bottom: none;
						}

						.fold_box_contents {
							padding: 0 20px 20px;
							border-bottom: 1px solid variables.$colorGray04;

							.btn_wrap{
								&.auto{
									margin: 24px 0 4px;
								}
							}
						}
					}
				}
			}
		}

		.fold_box_header {
			padding: 20px 34px 18px 19px;

			.form_chk{
				input {
					+ label{
						@include mixins.font_size_md;
						font-weight: variables.$fontWeightBold;

						&:before, &:after{
							top: 1px;
						}
					}
				}
			}

			&:after{
				width: 14px;
				height: 16px;
				@include mixins.ratio_images('../images/arw_fold_toggle_lg_mok', 'png', 14px, 16px);
			}
		}
		.fold_box_contents {
			.info_text_box {
				&:first-child {
					margin-top: 19px;
					background-color: variables.$colorGray05;
				}
			}
		}

		.prod_row_list{
			border-top: none;
		}

		.store_prod_wrap{
			~ .btn_wrap{
				&.auto{
					margin: 24px 0;
				}
			}
		}
	}

	&.my_prod_wrap{
		.fold_box_list{
			.fold_box{
				border: none;
				border-radius: 0;
				background: none;

				&:after{
					content: '';
					display: block;
					height: 10px;
					background-color: variables.$colorGray06;
				}

				.fold_box_header{
					font-size: 0;
					font-weight: variables.$fontWeightRegular;
				}

				~ .fold_box{
					margin-top: 0;
				}

				&.expanded{
					.fold_box_header{
						padding-bottom: 17px;
						border-bottom: 1px solid variables.$colorGray04;
					}

					.fold_box_contents{
						padding: 20px;
					}
				}

				&.type_prod{
					&.expanded{
						.fold_box_contents{
							padding: 0;
							border-bottom: 1px solid variables.$colorGray04;

							.my_prod_inner{
								//padding: 0;

								.prod_type{
									padding-bottom: 17px;
									@include mixins.font_size_def;
									font-weight: variables.$fontWeightBold;
									border-bottom: 1px solid variables.$colorGray04;
								}

								.prod_row_list{
									&.type_myroom{
										margin: 0;

										.prod_item{
											&:last-child{
												padding-bottom: 0;
											}
										}
									}
								}

								.package_prod_option{
									.prod_row_list{
										&.type_myroom{
											.prod_item{
												&:last-child{
													padding-bottom: 20px;
												}
											}
										}
									}
								}

								~ .my_prod_inner{
									border-top: 1px solid variables.$colorGray04;
								}
							}

							.prod_row_list{
								&.type_myroom{
									margin: 0 20px;

									.prod_item{
										padding: {
											left: 0;
											right: 0;
										};

										&:last-child{
											border-bottom: none;
										}
									}

									.package_prod_option{
										.prod_row_list{
											margin: 0
										}
									}
								}
							}

							.prod_notice_box{
								margin: 0 20px;
								padding: 10px 0 20px;
								border-top: 1px solid variables.$colorGray04;
							}
						}
					}
				}

				&.type_delivery_info{
					.fold_box_header {
						.address_item {
							margin-top: 11px;

							.address_info_box {
								@include mixins.justify_width;
								overflow: hidden;

								.name {
									flex-shrink: 0;
									@include mixins.font_size_def;
									font-weight: variables.$fontWeightBold;

									& + .address, & + .phone_number {
										margin-top: 0;
									}
								}

								.address, .phone_number {
									flex: 1;
									margin-left: 5px;
									@include mixins.ellipsis(false);
									font-weight: variables.$fontWeightRegular;
									@include mixins.font_size_sm;
								}
							}
						}
					}

					&.expanded{
						.fold_box_header{
							.address_item{
								display: none;
							}
						}
					}
				}

				&.type_payment_info{
					.fold_box_header{
						@include mixins.justify_width(center);

						.price{
							margin-left: auto;
							flex-shrink: 0;

							.val, .unit{
								@include mixins.font_size_md;
							}

							.val{
								font-weight: variables.$fontWeightBold;
							}
						}
					}
				}
			}
		}

		.fold_box_header {
			padding: 20px 44px 18px 19px;

			&:after{
				width: 14px;
				height: 16px;
				@include mixins.ratio_images('../images/arw_fold_toggle_lg_mok', 'png', 14px, 16px);
			}
		}

		.btn_multi_wrap{
			padding: 0 20px;
			margin-top: 24px;
		}

		+ .contents_gap_area.gap_sm{
			/*margin-top: 0;*/

			&:before{
				content: none;
			}
		}
	}

	&.type_faq {
		border-top: 1px solid #000;

		.fold_box {
			border: none;
			border-bottom: 1px solid variables.$colorGray04;
			background-color: #fff;
			border-radius: 0;

			&.expanded {
				.fold_box_header {
					font-weight: variables.$fontWeightMedium;

					&.ellipsis {
						overflow: visible;
						white-space: normal;
					}
				}

				.fold_box_contents {
					padding: 0;
				}
			}
			& ~ .fold_box {
				margin-top: 0;
			}
		}
		.fold_box_header {
			padding: 20px 40px 20px 38px;
			font-weight: variables.$fontWeightRegular;

			.faq_q {
				position: absolute;
				left: 4px;
				top: 50%;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				font-weight: variables.$fontWeightMedium;
				color: #fff;
				line-height: 24px;
				background-color: #5055B1;
				
				@include mixins.transform(translateY(-50%));
				@include mixins.justify_width(center, center);
				@include mixins.font_size_xs;
			}

			&.ellipsis {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.fold_box_contents {
			padding: 0;
		}
		.faq_box_contents {
			// display: none;
			position: relative;
			padding: 20px 20px 20px 38px;
			margin-bottom: 20px;
			border-radius: 10px;
			background-color: variables.$colorGray06;
		
			.faq_text_desc {
				margin-top: 10px;
				color: variables.$textColorGray;
				@include mixins.font_size_xs;
				
				a {
					color: variables.$textColorGray;
				}
			}
		
			&::after {
				content: '';
				position: absolute;
				left: 20px;
				top: 22px;
				width: 12px;
				height: 12px;
				@include mixins.ratio_images('../images/icon_reply', 'png', 12px, 12px);
				background-repeat: no-repeat;
				background-position: 0 0;
			}
		}
	}

	&.type_inquiry{
		border: {
			top : 1px solid variables.$textColorBlack;
			bottom: 1px solid variables.$colorGray04;
		}

		.fold_box {
			margin: 0;
			border: 0;
			background-color: #fff;
			border-top: 1px solid variables.$colorGray04;
			border-radius: 0;

			&.expanded {
				.fold_box_header {
					padding-bottom: 14px;
				}

				.fold_box_contents {
					padding: 0 4px 20px;
				}
			}
			& + .fold_box {
				margin-top: 0;
			}
		}

		.fold_box_header {
			padding: 20px 36px 20px 4px;
			font-weight: variables.$fontWeightRegular;

			.inquiry_info {
				@include mixins.justify_width(center);

				[class^=badge_] {
					margin-right: 6px;
					flex-shrink: 0;
					.text {
						margin-left: 0;
					}
				}

				.category {
					@include mixins.justify_width(center);

					.category_item {
						@include mixins.justify_width(center);
						@include mixins.font_size_xs;
						color: variables.$textColorGray;
						padding-right: 6px;

						+.category_item {
							&:before {
								content: '';
								display: inline-block;
								width: 6px;
								height: 10px;
								margin-right: 6px;
								background: {
									position: center;
									repeat: no-repeat;
								}
								@include mixins.ratio_images('../images/ico_arw_6x10_mok', 'png', 6px, 10px);
							}
						}

						&:last-child{
							padding-right: 0;
						}
					}
				}

				.prod_name {
					@include mixins.font_size_xs;
					color: variables.$textColorLightGray;
					@include mixins.ellipsis;
				}

				+.inquiry_title {
					margin-top: 12px;
				}
			}
			.inquiry_title {
				position: relative;
				padding-left: 34px;
				//@include mixins.justify_width(center, between);

				.faq_q {
					position: absolute;
					top: 0;
					left: 0;
					width: 24px;
					height: 24px;
					color: #fff;
					background-color: variables.$kyoboPurple;
					border-radius: 50%;
					font-family: variables.$fontEng;
					text-align: center;
					line-height: 24px;
					vertical-align: top;
				}

				.title {
					display: block;
				}

				.date {
					display: block;
					margin-top: 8px;
					@include mixins.font_size_xs;
					color: variables.$textColorLightGray;
				}
			}

			&:first-child {
				border-top: 0;
			}
		}

		.fold_box_header:after {
			top: auto;
			bottom: 26px;
			width: 16px;
			height: 17px;
			@include mixins.ratio_images('../images/arw_fold_toggle_lg', 'png', 16px, 17px);
		}

		.fold_box_contents {
			padding-left: 10px;
			padding-right: 10px;
		}

		.inquiry_content {
			position: relative;
			padding: 20px;
			border-radius: 10px;
			background-color: variables.$colorGray06;

			.order_info{
				margin-bottom: 20px;

				.info_box {
					font-size: 0;
					@include mixins.justify_width;

					.title {
						flex-shrink: 0;
						@include mixins.font_size_xs;
						color: variables.$textColorGray;
					}

					.value {
						position: relative;
						overflow: hidden;
						@include mixins.font_size_xs;
						padding-left: 17px;

						&:before{
							content: '';
							position: absolute;
							left: 8px;
							top: 5px;
							display: block;
							width: 1px;
							height: 9px;
							background-color: variables.$colorGray03;
						}

						.prod_link{
							@include mixins.ellipsis(false);
						}
					}

					+ .info_box {
						margin-top: 2px;
					}
				}
			}

			.inquiry_content_area {
				p {
					@include mixins.font_size_sm;

					+.img_list {
						margin-top: 20px;
					}
				}

				.img_list {
					@include mixins.justify_width;

					.img_box {
						width: 92px;
						//height: 92px;
						border-radius: 6px;
						overflow: hidden;

						.btn_thumbs {
							width: 100%;
							height: 100%;

							.thumb_img_box {
								position: relative;
								display: block;
								width: 100%;
								padding-top: 100%;
								background-size: cover;
								background-repeat: no-repeat;
								background-position: center;
							}

							img {
								display: none;
							}
						}

						+.img_box {
							margin-left: 6px;
						}
					}

				}
			}
			.inquiry_content_footer {
				@include mixins.justify_width(center);
				margin-top: 12px;

				.func_group {
					margin-left: auto;
					vertical-align: top;
					@include mixins.justify_width(center, start, row, true);

					.btn_text_link {
						@include mixins.font_size_xxs;
						.text {
							text-decoration: none;
						}
					}

					.gap {
						position: relative;
						display: inline-block;
						font-size: 0;
						width: 1px;
						height: 9px;
						background-color: variables.$colorGray03;
						margin: 0 8px 0;
						vertical-align: top;
						box-sizing: border-box;
					}
				}
			}


			+.reply_content {
				margin-top: 10px;
			}
		}
		.reply_content {
			position: relative;
			padding: 20px 20px 20px 38px;
			border-radius: 10px;
			background-color: rgba(variables.$kyoboPurple, .06);

			.reply_content_area {
				@include mixins.font_size_sm;
				color: variables.$textColorBlack;
				p {
					margin-top: 10px;
					line-height: 22px;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			.reply_content_footer {
				@include mixins.justify_width(center);
				margin-top: 8px;

				.info_group {
					vertical-align: top;
					@include mixins.justify_width(center, start, row, true);

					.info_item {
						@include mixins.font_size_xs;

						.text {
							color: variables.$textColorGray;
						}

						&:last-child{
							.text{
								color: variables.$textColorLightGray;
							}
						}
					}

					.gap {
						position: relative;
						display: inline-block;
						font-size: 0;
						width: 1px;
						height: 9px;
						background-color: variables.$colorGray03;
						margin: 0 8px 0;
						vertical-align: top;
						box-sizing: border-box;
					}
				}
			}

			&:before {
				content: '';
				position: absolute;
				left: 20px;
				top: 24px;
				width: 8px;
				height: 9px;
				@include mixins.ratio_images('../images/arw_reply_mok', 'png', 8px, 9px);
			}
		}


	}
	
	
	&.type_info_text {
		
		.fold_box {
			border-radius: 10px;
			border: 0;
			background-color: variables.$colorGray06;
			box-sizing: border-box;
			
			.fold_box_header {
				padding: 18px;
				
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 10px;
					height: 5px;
					right: 18px;
					top: 50%;
					background: {
						repeat: no-repeat;
					}
					@include mixins.ratio_images('../images/arw_fold_toggle_mok_10x5', 'png', 10px, 5px);
					@include mixins.transform(translateY(-50%) rotate(0));
				}
				
				.btn_fold {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
				}
			}
			
			.fold_box_contents {
				height: 0;
				overflow: hidden;
			}
			
			&.expanded {
				border: 0;
				background-color: variables.$colorGray06;
				
				.fold_box_header {
					&:after{
						@include mixins.transform(translateY(-50%) rotate(180deg));
					}
				}
				
				> .fold_box_contents {
					height: auto;
					margin-top: -8px;
					padding: {
						top: 0;
						bottom: 18px;
					}
				}
			}
			
		}
	}
}

