.my_voucher_header {display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px;}
.my_voucher_header h4 {font-size: 24px; color: #000;}
.my_voucher_header button+button {margin-left: 2px;}
.my_voucher_no_ing {width: 100%; height: 150px; box-sizing: border-box;}
.my_voucher h6 {font-size: 16px; font-weight: 700; letter-spacing: -.01em; margin-bottom: 16px; position: relative; height: 38px;}
.my_voucher h6 em,.my_voucher h6 span {color: #3c9a17; line-height: 38px;}
.my_voucher_box_header {border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; border-radius: 12px 12px 0 0; display: flex; align-items: center; justify-content: center; padding: 24px;}
.my_voucher_box_header strong {font-size: 16px; color: #000; font-weight: 500;}
.my_voucher_box_header>button {font-size: 13px; color: #595959; margin-left: 10px; padding-right: 14px; position: relative; cursor: pointer;}
.my_voucher_box_header>button::after {position: absolute; top: 4px; display: inline-block; width: 9px; height: 9px; background: url(../../common/images/arw_info_more@1.5x.png) no-repeat; background-size: 9px; content: "";}
.my_voucher_box_header>div {margin-left: auto;}
.my_voucher_box_header>div button {color: #474c98;}
.my_voucher_box_header>div button+button {margin-left: 2px;}
.my_voucher_box_contents {background-color: #f8f8fc; border: 1px solid #d5d5d5; border-radius: 0 0 12px 12px; padding: 24px;}
.my_voucher_box_contents dl {display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; gap: 24px 0; width: 100%;}
.my_voucher_box_contents dl dt {width: 161px; color: #000; font-weight: 500; font-size: 14px;}
.my_voucher_box_contents dl dd {color: #767676; font-size: 14px; width: calc(50% - 92px - 69px); display: inline-flex; align-items: center;}
.my_voucher_box_contents dl dd em {color: #000; font-weight: 500; padding-left: 3px;}
.my_voucher_box_contents dl dd>.btn_line_gray {margin-left: 6px;}
.my_voucher_box+.my_voucher_box {margin-top: 30px;}
.my_voucher_tab {margin-top: 60px;}
.my_voucher_tab .no_voucher {background-color: #f7f7f7; border-radius: 12px; padding-top: 50px; padding-bottom: 40px;}
.my_voucher_tab .no_voucher p {color: #767676; text-align: center;}
.my_voucher_tab .no_voucher .btn_wrap {margin-top: 20px;}
.my_voucher_tab .no_voucher .btn_wrap button {min-width: 108px; font-weight: 500; padding-left: 24px; padding-right: 24px;}
.my_voucher_tab .voucher_list {border-radius: 20px; overflow: hidden; border: 1px solid #d5d5d5;}
.my_voucher_tab .voucher_list_wrap {position: relative;}
.my_voucher_tab .voucher_list_wrap .form_sel {position: absolute; top: 0; right: 0;}
.my_voucher_tab .voucher_list_item {display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; padding: 30px 30px 0 30px;}
.my_voucher_tab .voucher_list_item>strong {font-size: 16px; font-weight: 500; color: #000; width: 332px;}
.my_voucher_tab .voucher_list_item>strong em {color: #474c98;}
.my_voucher_tab .voucher_list_item dl {display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; gap: 24px 0; width: calc(100% - 332px - 20px); padding-bottom: 30px;}
.my_voucher_tab .voucher_list_item dl dt {width: 141px; font-size: 14px; color: #767676;}
.my_voucher_tab .voucher_list_item dl dd {width: calc(50% - 141px); font-size: 14px; color: #000;}
.my_voucher_tab .voucher_list_item>button {width: 20px; height: 20px; text-indent: -1000px; background: url(../../common/images/arw_fold_toggle@1.5x.png) no-repeat center; background-size: 17px 10px; overflow: hidden; cursor: pointer; transition: all ease .2s;}
.my_voucher_tab .voucher_list_item>button.current {-webkit-transform: rotate(-180deg); transform: rotate(-180deg);}
.my_voucher_tab .voucher_list_item:last-child {border-bottom: 0;}
.my_voucher_tab .voucher_list_item .item {display: none; background-color: #fbfbfb; border-top: 1px solid #eaeaea; padding: 30px; margin: 0 -30px 0 -30px; height: auto; overflow: auto; width: 100%;}
.my_voucher_tab .voucher_list_item .item table tbody tr+tr {border-top: 1px solid #eaeaea;}
.my_voucher_tab .voucher_list_item .item table tbody tr:first-child {padding-top: 0;}
.my_voucher_tab .voucher_list_item .item table tbody tr td {padding: 28px 0;}
.my_voucher_tab .voucher_list_item .item table tbody tr td:nth-child(5) {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px;}
.my_voucher_tab .voucher_list_item .item table tbody tr td:nth-child(5) .btn_line_primary {width: 149px;}
.my_voucher_tab .voucher_list_item .item table tbody tr td:nth-child(5) em {color: #3c9a17; font-weight: 500;}
.my_voucher_tab .voucher_list_item .item table tbody tr td:nth-child(5) strong {font-weight: 500;}
.my_voucher_tab .voucher_list_item+.voucher_list_item {border-top: 1px solid #eaeaea;}
.my_voucher_tab .voucher_list_item span.state {font-size: 12px; font-weight: 500; letter-spacing: -.01em; padding: 0 8px; display: inline-block; height: 19px; line-height: 19px; border-radius: 10px; box-sizing: border-box;}
.my_voucher_tab .voucher_list_item span.state.waiting {color: #474c98; background-color: rgba(80,85,177,.06);}
.my_voucher_tab .voucher_list_item span.state.ing {color: #474c98; background-color: #fff; border: 1px solid #5055b1;}
.my_voucher_tab .voucher_list_item span.state.expired {color: #595959; background-color: #f0f0f0;}
.my_voucher_tab .voucher_list+.area_list {margin-top: 10px;}
.my_voucher_tab .tbl_col_line.buy_tbl tbody tr td:not(:nth-child(2)) {color: #767676; padding: 28px 0;}
.my_voucher_tab .tbl_col_line.buy_tbl tbody tr td:not(:nth-child(2)) strong {font-size: 16px; color: #000;}
.my_voucher_tab .tbl_col_line.buy_tbl tbody tr td:not(:nth-child(2)) strong span {font-size: 14px; font-weight: 400;}
.my_voucher_tab .tbl_col_line.buy_tbl tbody tr td:not(:nth-child(2)) strong.cancel {color: red;}
.my_voucher_tab .tbl_col_line.buy_tbl tbody tr td:nth-child(2) {color: #000; padding: 28px 0 28px 20px; text-align: left;}
.my_voucher .btn_line_gray.arrow {padding-right: 14px; position: relative;}
.my_voucher .btn_line_gray.arrow::after {position: absolute; right: 6px; display: inline-block; width: 6px; height: 6px; background-image: url(../../common/images/arw_info_more.png); background-size: 6px; content: "";}
.sam_pop_info_box h6 {font-size: 15px; color: #000;}
.sam_pop_info_box ul {margin-top: 13px;}
.sam_pop_info_box ul li {font-size: 14px; color: #595959; letter-spacing: -.01em; line-height: 22px; display: list-item; list-style: decimal; position: relative; margin-top: 8px; margin-left: 15px; word-break: keep-all;}
.sam_pop_info_box+.sam_pop_info_box {margin-top: 20px;}
.sam_pop_gift {padding-top: 6px;}
.sam_pop_gift_wrap {border: 1px solid #eaeaea; border-radius: 12px; overflow: hidden; font-size: 14px; color: #000; margin-bottom: 34px;}
.sam_pop_gift_wrap li {padding: 24px; display: flex; align-items: center; justify-content: space-between; font-weight: 500;}
.sam_pop_gift_wrap li:nth-child(1) {background-color: #f7f7f7; border-bottom: 1px solid #eaeaea;}
.sam_pop_gift_wrap li:nth-child(1) .light {color: #595959; font-weight: 400;}
.sam_pop_gift_wrap li:nth-child(1) span {color: #5055b1; font-weight: 700;}
.sam_pop_gift_wrap li .form_ip {width: 280px;}
.sam_pop_gift_wrap li:not(.light) {font-weight: 500;}
.sam_pop_gift>div {display: flex; justify-content: center;}
.sam_pop_gift .info_text_box {margin-top: 60px; padding: 16px;}
.sam_pop_gift .info_text_box .bul_item_dot:before {top: 9px; width: 2px; height: 2px; background-color: #767676;}
.sam_pop_gift_tbl {width: 100%; border-top: 1px solid #000; border-bottom: 1px solid #eaeaea; box-sizing: border-box; font-size: 14px; table-layout: fixed;}
.sam_pop_gift_tbl thead tr th {color: #767676; font-size: 14px; line-height: 22px; padding: 16px 0; text-align: center;}
.sam_pop_gift_tbl tbody tr:first-child {border-top: 1px solid #d5d5d5;}
.sam_pop_gift_tbl tbody tr:first-child td {padding-top: 20px;}
.sam_pop_gift_tbl tbody tr:last-child td {padding-bottom: 30px;}
.sam_pop_gift_tbl tbody tr td {color: #000; font-size: 14px; padding: 12px 0; text-align: center;}
.sam_pop_gift_tbl+.pagination {margin-top: 20px;}
.sam_pop_service_cancel p {font-size: 15px; line-height: 23px; font-weight: 500;}
.sam_pop_service_cancel .bg_gray {background-color: #f7f7f7; padding: 24px; border-radius: 10px; margin-top: 10px;}
.sam_pop_service_cancel .bg_gray li+li {margin-top: 16px;}
.sam_pop_service_cancel .bg_gray .form_rdo {width: 100%;}
.sam_pop_service_cancel .bg_gray .form_rdo input+label {color: #595959;}
.sam_pop_service_stop .bg_gray {background-color: #f7f7f7; padding: 20px; border-radius: 10px; margin-top: 4px;}
.sam_pop_service_stop .bg_gray li {display: flex; align-items: center; justify-content: space-between;}
.sam_pop_service_stop .bg_gray li+li {margin-top: 9px;}
.sam_pop_service_stop .bg_gray li div:first-child {color: #595959;}
.sam_pop_service_stop .bg_gray li div:last-child {font-weight: 500;}
.sam_pop_service_stop p {color: #595959; text-align: center; line-height: 22px; margin-top: 10px;}
.dialog_header.sam_pop_header {border-bottom: 0!important;}
.dialog_contents.sam_pop_contens {margin-top: 10px!important;}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content.gift_cancel .dialog_contents {margin-top: 45px; text-align: center;}
.dialog_wrapper .ui-dialog .dialog_wrap.ui-dialog-content .dialog_contents.sam_pop_service_cancel_chk {color: #595959; text-align: center; padding-top: 10px; line-height: 22px;}
.pay_change_pop.dialog_contents::-webkit-scrollbar {width: 2px;}
.pay_change_pop.dialog_contents::-webkit-scrollbar-thumb {background-color: #000;}
.pay_change_pop.dialog_contents::-webkit-scrollbar-track {background-color: #ececec;}
.pay_change_pop p {color: #474c98; text-align: center; font-size: 16px; font-weight: 500; margin-bottom: 16px; padding-top: 6px;}
.pay_change_pop strong {font-size: 16px; display: block; margin: 40px 0 20px 0; font-weight: 500;}
.pay_change_pop .bg_gray {background-color: #f7f7f7; padding: 24px; border-radius: 16px;}
.pay_change_pop .bg_gray li {display: flex; align-items: center; justify-content: space-between;}
.pay_change_pop .info_wrap li+li {margin-top: 17px;}
.pay_change_pop .info_wrap div:first-child {color: #595959;}
.pay_change_pop .info_wrap div:last-child {font-weight: 500;}
.pay_change_pop .pay_wrap .form_ip {width: 283px;}
.pay_change_pop .pay_wrap li div:first-child {font-weight: 500;}
.pay_change_pop .pay_wrap li+li {margin-top: 12px;}
.pay_change_pop .agree_check_wrap_item {display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; padding-top: 7px;}
.pay_change_pop .agree_check_wrap_item label {font-weight: 400;}
.pay_change_pop .agree_check_wrap_item>button {width: 20px; height: 20px; text-indent: -1000px; background: url(../../common/images/arw_fold_toggle_sm@1.5x.png) no-repeat center; background-size: 15px 8px; overflow: hidden; cursor: pointer; transition: all ease .2s;}
.pay_change_pop .agree_check_wrap_item>button.current {-webkit-transform: rotate(-180deg); transform: rotate(-180deg);}
.pay_change_pop .agree_check_wrap_item p {font-size: 13px; line-height: 19px; margin-top: 10px; margin-bottom: 0; text-align: left; font-weight: 400;}
.pay_change_pop .agree_check_wrap_item .item {display: none; padding-top: 13px; height: auto; width: 100%; margin-top: 0;}
.pay_change_pop .agree_check_wrap_item .item li button.btn_light_gray {margin-left: auto;}
.pay_change_pop .agree_check_wrap_item .item li+li {margin-top: 6px;}
.popUse_box {padding-right: 15px; max-height: 300px; overflow: auto;}
.popUse_box::-webkit-scrollbar {width: 3px;}
.popUse_box::-webkit-scrollbar-thumb {background-color: #000;}
.popUse_box::-webkit-scrollbar-track {background-color: #f0f0f0;}
.popUse_box h4 {margin-bottom: 10px; font-size: 15px;}
.popUse_box ul li {margin-left: 16px; font-size: 13px; color: #595959; line-height: 20px; text-indent: -16px;}
.popUse_box ul li+li {margin-top: 5px;}
.popUse_box ul+h4 {margin-top: 30px;}
/*# sourceMappingURL=myVoucher_dig.css.map */
