<div class="category_tag">
	<p class="title">소재</p>
	<div class="tag_wrap rect line-gray md">
		<a href="#" class="">초능력</a>
		<a href="#" class="">오래된 연인</a>
		<a href="#" class="">선결혼후연애</a>
		<a href="#" class="">역하렘</a>
		<a href="#" class="">몸정>맘정</a>
		<a href="#" class="">운명적사랑</a>
		<a href="#" class="">오해</a>
		<a href="#" class="">하렘</a>
		<a href="#" class="">맴디컬</a>
		<a href="#" class="">금단의관계</a>
		<a href="#" class="">애증의관계</a>
		<a href="#" class="">권선징악</a>
		<a href="#" class="">느와르</a>
		<a href="#" class="">라이벌</a>
		<a href="#" class="">갑을관계</a>
		<a href="#" class="">육아물</a>
		<a href="#" class="">법조계</a>
		<a href="#" class="">차원이동</a>
		<a href="#" class="">신분차이</a>
		<a href="#" class="">사제지간</a>
		<a href="#" class="">국제연애</a>
		<a href="#" class="">소유욕</a>
		<a href="#" class="">신화/설화</a>
		<a href="#" class="">비밀연애</a>
		<a href="#" class="">궁정로맨스</a>
		<a href="#" class="">동양풍</a>
		<a href="#" class="">맞선/소개팅</a>
		<a href="#" class="">재회</a>
		<a href="#" class="">여장남자/남장여자</a>
		<a href="#" class="">트라우마/상처</a>
		<a href="#" class="">원나잇</a>
	</div>
</div>

<div class="category_tag">
	<p class="title">남자주인공</p>
	<div class="tag_wrap rect line-gray md">
		<a href="#" class="">철별남</a>
		<a href="#" class="">존댓말남</a>
		<a href="#" class="">대형견남</a>
		<a href="#" class="">조신남</a>
		<a href="#" class="">평범남</a>
		<a href="#" class="">냉정남</a>
		<a href="#" class="">순진남</a>
		<a href="#" class="">나쁜남자</a>
		<a href="#" class="">동정남</a>
		<a href="#" class="">연하남</a>
		<a href="#" class="">재벌남</a>
		<a href="#" class="">직진남</a>
		<a href="#" class="">츤데레남</a>
		<a href="#" class="">무심남</a>
		<a href="#" class="">유혹남</a>
		<a href="#" class="">상처남</a>
		<a href="#" class="">순정남</a>
		<a href="#" class="">바람둥이</a>
		<a href="#" class="">절륜남</a>
		<a href="#" class="">카리스마남</a>
		<a href="#" class="">후회남</a>
		<a href="#" class="">능력남</a>
		<a href="#" class="">능글남</a>
		<a href="#" class="">계략남</a>
		<a href="#" class="">집착남</a>
		<a href="#" class="">다정남</a>
		<a href="#" class="">까칠남</a>
	</div>
</div>

<div class="category_tag">
	<p class="title">여자주인공</p>
	<div class="tag_wrap rect line-gray md">
		<a href="#" class="">집착녀</a>
		<a href="#" class="">존댓말녀</a>
		<a href="#" class="">대형견녀</a>
		<a href="#" class="">조신녀</a>
		<a href="#" class="">평범녀</a>
		<a href="#" class="">냉정녀</a>
		<a href="#" class="">순진녀</a>
		<a href="#" class="">털털녀</a>
		<a href="#" class="">동정녀</a>
		<a href="#" class="">연하녀</a>
		<a href="#" class="">재벌녀</a>
		<a href="#" class="">직진녀</a>
		<a href="#" class="">츤데레녀</a>
		<a href="#" class="">무심녀</a>
		<a href="#" class="">유혹녀</a>
		<a href="#" class="">상처녀</a>
		<a href="#" class="">순정녀</a>
		<a href="#" class="">바람둥이</a>
		<a href="#" class="">절륜녀</a>
		<a href="#" class="">카리스마녀</a>
		<a href="#" class="">후회녀</a>
		<a href="#" class="">능력녀</a>
		<a href="#" class="">능글녀</a>
		<a href="#" class="">계략녀</a>
	</div>
</div>

<div class="category_tag">
	<p class="title">직업/설정</p>
	<div class="tag_wrap rect line-gray md">
		<a href="#" class="">역키잡</a>
		<a href="#" class="">키잡</a>
		<a href="#" class="">외국인/혼혈(녀)</a>
		<a href="#" class="">초월적존재</a>
		<a href="#" class="">외국인/혼혈(남)</a>
		<a href="#" class="">왕족/귀족(녀)</a>
		<a href="#" class="">왕족/귀족(남)</a>
		<a href="#" class="">전문직</a>
	</div>
</div>

<div class="category_tag">
	<p class="title">분위기</p>
	<div class="tag_wrap rect line-gray md">
		<a href="#" class="">흠...</a>
	</div>
</div>

<div class="category_tag">
	<p class="title">기타</p>
	<div class="tag_wrap rect line-gray md">
		<a href="#" class="">하드코어</a>
		<a href="#" class="">무삭제판</a>
		<a href="#" class="">증보판</a>
		<a href="#" class="">개정판</a>
		<a href="#" class="">삽화</a>
		<a href="#" class="">고수위</a>
		<a href="#" class="">피폐</a>
		<a href="#" class="">로맨틱코미디</a>
		<a href="#" class="">달달</a>
		<a href="#" class="">신파</a>
		<a href="#" class="">힐링</a>
		<a href="#" class="">애잔</a>
	</div>
</div>

<div class="category_tag">
	<p class="title">장르</p>
	<div class="tag_wrap rect line-gray md">
		<a href="#" class="">미래물</a>
		<a href="#" class="">첩보/형사물</a>
		<a href="#" class="">일상물</a>
		<a href="#" class="">비서물</a>
		<a href="#" class="">성장물</a>
		<a href="#" class="">스포츠</a>
		<a href="#" class="">추리/미스터리물</a>
		<a href="#" class="">할리퀸</a>
		<a href="#" class="">학원/캠퍼스물</a>
		<a href="#" class="">판타지물</a>
		<a href="#" class="">현대물</a>
	</div>
</div>